

<li id="comment-<%= comment._id %>" class="comment-list">

    <div class="comment-like-box">
        <div class="comment-likes-number" id="comment-<%= comment._id %>-likes-number">
            <span data-target="#comment-<%= comment._id %>-likes" data-toggle="modal"><%= comment.likes.length %></span>
            <a class="toggle-like-button" href="/likes/toggle/?id=<%=comment._id%>&type=Comment" data-likes="<%= comment.likes.length %>">
                <i class="fas fa-thumbs-up like-thumbs"></i>
            </a>
        </div>

        <div class="modal fade" id="comment-<%= comment._id %>-likes" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Comment Reactions  
                      <br></i></h4>
                </div>
                <div class="modal-body">
                    
                    <ul  class="comment-like-username-list " id="comment-<%= comment._id %>-likes-list">
                            <% for(like of comment.likes) {%>
                                <li id="like-<%= like._id %>" class="comment-username-li">
                                   
                                    <%- include("_likeDisplay"); %>
                                   
                                </li>
                            <% } %>
                    </ul>
                
                </div>
               
              </div>
              
            </div>
        </div>
    </div>
    <% if(locals.user.id==comment.user.id || locals.user.id==i.user.id) { %>
        <small class="comment-deletion">
            <span data-toggle="modal" data-target="#deleteCommentModal" class="delete-comment-modal">
                <i class="fas fa-times"></i>
            </span>
            <div class="modal fade" tabindex="-1" role="dialog" id="deleteCommentModal" >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title"><i class="fas fa-trash-alt"></i> Comment?</h2>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete it?</p>
                    </div>
                    <div class="modal-footer">
                      <a href="/comments/destroy-comment/<%= comment._id %>" class="delete-comment-button btn btn-danger" data-dismiss="modal">Remove</a>
                      <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    </div>
                  </div>
                </div>
              </div>
        </small>
      
    <% } %>
    <% if(locals.user.id==comment.user.id) {%>
        <small> 
            <a href="/comments/update-comment/<%= comment._id %>" class="update-comment-button" >
                <i class="fas fa-marker"></i>
            </a>
        </small>
    <% } %>
    <% if(comment.edited) { %>
        <small class="comment-editedTag">Edited</small>
    <% } %>
    <div class="comment-content" id="comment-<%= comment._id%>-content">
       
       
        <div>
           <span class="comment-text">
            <% if( comment.user.id!=locals.user.id) {%>
                <span><%= comment.content %></span>
            <% } else  {%>
                <% if(comment.update) {%>
                    <form action="/comments/update-comment-c2" method="post" class="comment-update-form">
                        <textarea required  name="content" ><%= comment.content%></textarea>
                        <input type="hidden" name="comment" value="<%= comment._id%>">
                        <button type="submit">U</button>
                    </form>
                <% } else { %>
                    <span><%= comment.content %></span>
                <% } %>
            <% } %>
               
           </span>
            <br>
            <small class="author-comment-name">
                <a href="/users/profile/<%= comment.user._id %>">
                    <% if(comment.user.avatar) {%>
                        <img src="<%= comment.user.avatar %>"> 
                <% } else if (comment.user.gender=="male"){%>
                            <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
                <% }  else {%>
                            <img src="/images/femaleProfile.png" width="100" height="100">
                    <% } %>
                    <% if(comment.user.id==i.user.id) { %>
                        <%= comment.user["name"] %><span class="author-tag" style="width: 45px;"> Author</span>
                        
                    <% } else { %>
                    
                            <%= comment.user["name"] %>
                        
                    <% } %>
                </a>
            </small>
            <br>
            <span class="comment-timestamps">
                <%= comment.createdAt.toLocaleString() %> 
            </span>
        </div>
    </div>

    
</li>