

<li id="comment-<%= comment._id %>">

    <div class="like-box">
       <a class="toggle-like-button" href="/likes/toggle/?id=<%=comment._id%>&type=Comment" data-likes="<%= comment.likes.length %>">
        <%= comment.likes.length %> <i class="fas fa-thumbs-up like-thumbs"></i>
   
       </a>
       <% if(comment.likes.length!=0){%>
           <% for(like of comment.likes){%>
                <%= like.user.name %>
            <%}%>
       <%}%>
    </div>

    <div class="content">
       
        <% if(locals.user.id==comment.user.id) { %>
            <small>
                <a href="/comments/destroy-comment/<%= comment._id %>" class="delete-comment-button">X</a>
            </small>
        <% } %>
        <p>
           
            <%= comment.content %>
            <br>
            <small>
                <%= comment.user["name"] %>
            </small>
        </p>
    </div>
</li>