

<li id="comment-<%= comment._id %>" class="comment-list">

    <div class="comment-like-box">
        <div class="comment-likes-number" id="comment-<%= comment._id %>-likes-number">
            <span data-target="#comment-<%= comment._id %>-likes" data-toggle="modal"><%= comment.likes.length %></span>
            <a class="toggle-like-button" href="/likes/toggle/?id=<%=comment._id%>&type=Comment" data-likes="<%= comment.likes.length %>">
                <i class="fas fa-thumbs-up like-thumbs"></i>
            </a>
        </div>

        <div class="modal fade" id="comment-<%= comment._id %>-likes" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Comment Reactions  
                      <br></i></h4>
                </div>
                <div class="modal-body">
                    
                    <ul  class="comment-like-username-list " id="comment-<%= comment._id %>-likes-list">
                            <% for(like of comment.likes) {%>
                                <li id="like-<%= like._id %>" class="comment-username-li">
                                   
                                    <%- include("_likeDisplay"); %>
                                   
                                </li>
                            <% } %>
                    </ul>
                
                </div>
               
              </div>
              
            </div>
        </div>
    </div>
    <% if(locals.user.id==comment.user.id) { %>
        <small class="comment-deletion">
            <a href="/comments/destroy-comment/<%= comment._id %>" class="delete-comment-button">
                <i class="fas fa-times"></i></a>
        </small>
    <% } %>
    <div class="content">
       
       
        <p>
           
            <span><%= comment.content %></span>
            <br>
            <small class="author-comment-name">
                <a href="/users/profile/<%= comment.user._id %>">
                    <% if(comment.user.avatar) {%>
                        <img src="<%= comment.user.avatar %>"> 
                <% } else if (comment.user.gender=="male"){%>
                            <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
                <% }  else {%>
                            <img src="/images/femaleProfile.png" width="100" height="100">
                    <% } %>
                    <% if(comment.user.id==i.user.id) { %>
                        <%= comment.user["name"] %><span class="author-tag" style="width: 45px;"> Author</span>
                        
                    <% } else { %>
                    
                            <%= comment.user["name"] %>
                        
                    <% } %>
                </a>
            </small>
            <br>
            <span class="comment-timestamps">
                <%= comment.createdAt.toLocaleString() %> 
            </span>
        </p>
    </div>
</li>