<a href="/users/profile/<%= friend._id %>">
    <% if(friend.avatar) {%>
        <img src="<%= friend.avatar %>"> 
    <% }  else {%>
        <div class="concealed-image" style="background:<%=friend.info.bgColor%>;"><span><%= friend.name.split(" ")[0].charAt(0)%></span></div>
    <% } %>

    <span><%= friend.name %></span>
  
</a>
<% if(profileUser.id==user.id) {%>
    <a data-toggle="modal" href="#deleteFriendModal-<%=friend._id%>" class="remove-friend">
        Remove Friend
    </a>
<% } %>
