<a href="/users/profile/<%= like.user._id %>">
    <% if(like.user.avatar) {%>
        <img src="<%= like.user.avatar %>"> 
    <% }  else {%>
        <div class="concealed-image" style="background:<%=like.user.info.bgColor%>;"><span><%= like.user.name.split(" ")[0].charAt(0).toUpperCase()%></span></div>
    <% } %>

    <span><%= like.user.name %></span>
</a>
