<div class="noty">
    <button type="button">
        <i class="fab fa-jedi-order"></i>
    </button>
    <% if(user.noties.length!=0) {%>
        <a class="noty-bell" id="noty-ball-<%= user._id%>" href="/noty/?id=<%= user._id%>" target="_blank">
            <i class="fas fa-bell">
                <% if(user.prevNotyOpen) {%>
                    <% if(user.noties.length-user.oldNotyLength!=0) { %> 
                        <div class="noty-bell-no">
                            <%=user.noties.length-user.oldNotyLength%>
                        </div>
                    <% } %>
                <% } else {%>
                    <div class="noty-bell-no">
                        <%=user.noties.length%>
                    </div>
                <% } %>
            </i>
        </a>
    <% } else {%>
        <a class="noty-bell" id="noty-ball-<%= user._id%>">
            <i class="fas fa-bell"></i>
        </a>
    <% } %>
    <% if(user.pendFR.length!=0) {%>
        <a class="fr" id="fr-<%= user._id%>" href="/fr/?id=<%= user._id%>" target="_blank">
                <div>
                    <img src="/images/fr.png">
                    <% if(user.prevPendFROpen) {%>
                        <% if(user.pendFR.length-user.oldPendFRLength!=0) { %> 
                            <div class="noty-bell-no">
                                <%=user.pendFR.length-user.oldPendFRLength%>
                            </div>
                        <% } %>
                    <% } else {%>
                        <div class="noty-bell-no">
                            <%=user.pendFR.length%>
                        </div>
                    <% } %>
                </div>
            </i>
        </a>
    <% } else {%>
        <a class="fr" id="fr-<%= user._id%>">
            <img src="/images/fr.png">
        </a>
    <% } %>
</div>