<div class="noty">
    <!-- <%=user.noties.length-user.oldNotyLength!=0%> <%= user.pendFR.length!=0%> <%=user.pendFR.length-user.oldPendFRLength!=0%> -->
    <% if(user.noties.length!=0 || user.pendFR.length!=0){ %>
        <% if(user.prevNotyOpen || user.prevPendFROpen) {%>
            <% if((user.noties.length-user.oldNotyLength!=0) || (user.pendFR.length-user.oldPendFRLength!=0)) {%>
                <button type="button">
                    <i class="fab fa-jedi-order" style="animation: glow-icon 2s ease-in-out infinite alternate;"></i>
                </button>
            <% } else {%>
                <button type="button">
                    <i class="fab fa-jedi-order"></i>
                </button>
            <% } %>
        <% } else {%>
            <button type="button">
                <i class="fab fa-jedi-order" style="animation: glow-icon 2s ease-in-out infinite alternate;"></i>
            </button>
        <% } %>
    <% } else {%>
        <button type="button">
            <i class="fab fa-jedi-order"></i>
        </button>
    <% } %>
    <% if(user.noties.length!=0) {%>
        <a class="noty-bell" id="noty-ball-<%= user._id%>" href="/noty/?id=<%= user._id%>">
            <i class="fas fa-bell">
                <% if(user.prevNotyOpen) {%>
                    <% if(user.noties.length-user.oldNotyLength!=0) { %> 
                        <div class="noty-bell-no">
                            <%=user.noties.length-user.oldNotyLength%>
                        </div>
                    <% } %>
                <% } else {%>
                    <div class="noty-bell-no">
                        <%=user.noties.length%>
                    </div>
                <% } %>
            </i>
        </a>
    <% } else {%>
        <a class="noty-bell" id="noty-ball-<%= user._id%>">
            <i class="fas fa-bell"></i>
        </a>
    <% } %>
    <% if(user.pendFR.length!=0) {%>
        <a class="fr" id="fr-<%= user._id%>" href="/fr/?id=<%= user._id%>">
                <div>
                    <img src="/images/fr.png">
                    <% if(user.prevPendFROpen) {%>
                        <% if(user.pendFR.length-user.oldPendFRLength!=0) { %> 
                            <div class="noty-bell-no">
                                <%=user.pendFR.length-user.oldPendFRLength%>
                            </div>
                        <% } %>
                    <% } else {%>
                        <div class="noty-bell-no">
                            <%=user.pendFR.length%>
                        </div>
                    <% } %>
                </div>
            </i>
        </a>
    <% } else {%>
        <a class="fr" id="fr-<%= user._id%>">
            <img src="/images/fr.png">
        </a>
    <% } %>
</div>