<link rel="stylesheet" href="/css/post-likes.css">

<li  id="post-<%= i.id %>" class="post-list animated-box in">
    <div class="post-like-box">
        <div class="post-likes-number" id="post-<%= i._id %>-likes-number">
            <% if(i.likes.length>0) { %>
                <span data-target="#post-<%= i.id %>-likes" data-toggle="modal" ><%= i.likes.length %></span>
            <% } else {%>
                <span data-target="#post-<%= i.id %>-likes" data-toggle="modal" ></span>
            <% } %>
            <a class="toggle-like-button " href="/likes/toggle/?id=<%=i._id%>&type=Post" data-likes="<%= i.likes.length %>">
                <i class="fas fa-thumbs-up like-thumbs"></i>
            </a>
        </div>
        
        <div class="modal fade" id="post-<%= i.id %>-likes" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="post-<%=i._id%>-like-title">Post 
                    <% if(i.likes.length==0 || i.likes.length==1) {%>  
                    Reaction
                    <%} else {%>
                        Reactions
                    <% } %>
                      
                      <span>
                        <% if(i.likes.length>0) { %>
                            <%= i.likes.length%>
                        <% } %>
                        <i class="far fa-heart"></i>
                      </span>

                </h4>
                </div>
                <div class="modal-body">
                    <ul  class="post-like-username-list" id="post-<%= i._id %>-likes-list">
                        <% for(like of i.likes) {%>
                            <li id="like-<%= like._id %>">
                                
                                <%- include("_likeDisplay"); %>
                                
                            </li>
                        <% } %>
                
                </ul>
                </div>
               
              </div>
              
            </div>
          </div>
   
    
    </div>

    <% if(locals.user.id==i.user.id) { %>
        <small class="post-deletion"> 
            <span data-toggle="modal" data-target="#post-<%= i._id%>-delete-modal" class="delete-post-modal">
                <i class="fas fa-trash-alt"></i>
            </span>
            <div class="modal fade post-delete-modal" tabindex="-1" role="dialog" id="post-<%= i._id%>-delete-modal" >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title"><i class="fas fa-trash-alt"></i> Post?</h2>
                    </div>
                    <div class="modal-body">
                      <p style="text-align: left;">Are you sure you want to delete it? All the likes, comments and replies will be lost forever.</p>
                    </div>
                    <div class="modal-footer">
                      <a href="/posts/destroy-post/<%= i._id %>" class="delete-post-button btn btn-danger" data-dismiss="modal">Remove</a>
                      <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    </div>
                  </div>
                </div>
              </div>
        </small>
        <small class="updateposttag"> 
            <a href="/posts/update-post/<%= i._id %>" class="update-post-button">
                <i class="fas fa-pen-fancy"></i>
            </a>
        </small>
    <% } %>
    <% if(i.edited) {%>
        <small class="post-editedTag">
            Edited
        </small>
    <% } %>
    <small class="author-post-name">
        <a href="/users/profile/<%= i.user._id %>">
            <% if(i.user.avatar) {%>
                <img src="<%= i.user.avatar %>"> 
            <% }  else {%>
                <span class="concealed-image" style="background:<%=i.user.info.bgColor%>;"><span><%= i.user.name.split(" ")[0].charAt(0)%></span></span>
            <% } %>
            <span><%= i.user.name %></span>
        </a>
    </small>
    <div class="post-content" id="post-<%= i._id%>-content">
       
        <div class="post-text">
                <% if(!i.sharedFromPost) {%>
                    <span> <%= i.content %> </span>
                <% } else { %>
                    <span> <%= i.content.newContent %> </span>
                    <div class="copiedPost">
                        <% if(i.content.prevAuthID!=null) {%>
                            <div class="copiedAuthIntro">
                                <a href="/users/profile/<%= i.content.prevAuthID%>">
                                    <span><%= i.content.prevAuthName%></span>
                                    <% if(i.content.prevAuthImage) {%>
                                        <img src="<%= i.content.prevAuthImage %>"> 
                                    <% }  else {%>
                                        <div class="concealed-image" style="background:<%=i.content.prevAuthBgColor%>;"><span><%= i.content.prevAuthName.split(" ")[0].charAt(0)%></span></div>
                                    <% } %>
                                    
                                </a>
                            </div>
                            <p><%= i.content.prevAuthContent%></p>
                        <% } else {%>
                            <p class="deletedOriginalPost">The Original Post is deleted!</p>
                        <% } %>
                    </div>
                   
                <% } %>
        </div>
        
        <div class="post-comments">
            <form action="/comments/create-comment/" method="post" id="post-<%= i._id %>-comments-form">
                <textarea type="text" name="content" placeholder="Type here to add comment...." required onkeydown="autosize1(this)"></textarea>
                <input type="hidden" name="post" value="<%= i._id %>">
                <button type="submit">Add comment</button>
            </form>
            <% if(i.comments.length>0) {%>
                <div class="post-comment-number" id="post-<%= i._id%>-comment-number" data-comments="<%= i.comments.length %>" data-target="#post-comments-<%= i._id %>-list" data-toggle="collapse" >
                        <span >
                            <%= i.comments.length %> 
                        </span>
                    
                    <i class="fas fa-comments"></i>
                </div>
            <% } else { %>
                <div class="post-comment-number" id="post-<%= i._id%>-comment-number" data-comments="<%= i.comments.length %>" data-target="#post-comments-<%= i._id %>-list">
                    <span >
                    </span>
                
                <i class="fas fa-comments"></i>
            </div>
            <% } %>
        </div>
        <div class="post-comments-list collapse" id="post-comments-<%= i._id %>-list">
                <ul id="post-comments-<%= i._id %>">
                    <% for(comment of i.comments) { %>
                    <%- include("_comment") -%>
                    <% } %>
                </ul>
        
        </div>
    </div>

    <div class="post-timestamps">
        <%= i.createdAt.toLocaleString() %> 
    </div>

    <div class="post-share-box">
      
        <div class="post-shares-number" id="post-<%= i._id %>-shares-number">
            <% if(!i.sharedFromPost) {%>
                <% if(i.shares.length>0) {%>
                    <span class="post-shares-no-display" data-target="#post-<%= i.id %>-shares" data-toggle="modal" ><%= i.shares.length %></span>
                <% } else { %>
                    <span class="post-shares-no-display" data-target="#post-<%= i.id %>-shares" data-toggle="modal" ></span>
                <% } %>
                <span data-toggle="modal" data-target="#post-<%= i._id%>-share-modal">
                
                    <i class="fas fa-share-square"></i>
                </span>
            <% } else if (i.content.prevAuthID!=null) {%>
                <span data-toggle="modal" data-target="#post-<%= i.content.prevPostId%>-share-modal">
                    
                    <i class="fas fa-share-square"></i>
                </span>
            <% } %>
        </div>
        <% if(!i.sharedFromPost) {%>
            <div class="modal fade" id="post-<%= i._id %>-shares" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="post-<%=i._id%>-share-title">Post Shares 
                        <span>
                            <% if(i.shares.length>0) { %>
                                <%= i.shares.length%>
                            <% } %>
                            <i class="fas fa-share"></i>
                          </span>
                    </h4>
                    </div>
                    <div class="modal-body">
                        <ul  class="post-share-username-list" id="post-<%= i._id %>-shares-list">
                            <% for(share of i.shares) {%>
                                <li id="share-<%= share._id %>">
                                    
                                    <%- include("_shareDisplay"); %>
                                    
                                </li>
                            <% } %>
                    
                    </ul>
                    </div>
                
                </div>
                
                </div>
            </div>
            <div class="modal post-share-modal fade" id="post-<%= i._id%>-share-modal" role="dialog" >
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="#post-<%=i._id%>-title">Share this Post?
                        <br></h4>
                    </div>
                    <div class=" modal-body"  >
                        <%- include("_sharePostForm"); %>
                        
                    </div>
                
                </div>
            </div>
    
        
            </div>
          
            <% } %>
       

    
   
</li>