<link rel="stylesheet" href="/css/post-likes.css">

<li  id="post-<%= i.id %>" class="post-list animated-box in">
    <div class="post-like-box">
        <div class="post-likes-number" id="post-<%= i._id %>-likes-number">
            <span data-target="#post-<%= i.id %>-likes" data-toggle="modal" ><%= i.likes.length %></span>
            <a class="toggle-like-button " href="/likes/toggle/?id=<%=i._id%>&type=Post" data-likes="<%= i.likes.length %>">
                <i class="fas fa-thumbs-up like-thumbs"></i>
            </a>
        </div>
        
        <div class="modal fade" id="post-<%= i.id %>-likes" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="#post-<%=i._id%>-title">Post Reactions  
                      <br></h4>
                </div>
                <div class="modal-body">
                    <ul  class="post-like-username-list" id="post-<%= i._id %>-likes-list">
                        <% for(like of i.likes) {%>
                            <li id="like-<%= like._id %>">
                                
                                <%- include("_likeDisplay"); %>
                                
                            </li>
                        <% } %>
                
                </ul>
                </div>
               
              </div>
              
            </div>
          </div>
   
    
    </div>
    
    <% if(locals.user.id==i.user.id) { %>
        <small> 
            <span data-toggle="modal" data-target="#deletePostModal" class="delete-post-modal">
                <i class="fas fa-trash-alt"></i>
            </span>
            <div class="modal fade" tabindex="-1" role="dialog" id="deletePostModal" >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title"><i class="fas fa-trash-alt"></i> Post?</h2>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete it?</p>
                    </div>
                    <div class="modal-footer">
                      <a href="/posts/destroy-post/<%= i._id %>" class="delete-post-button btn btn-danger" data-dismiss="modal">Remove</a>
                      <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    </div>
                  </div>
                </div>
              </div>
        </small>
        <small> 
            <a href="/posts/update-post/<%= i._id %>" class="update-post-button">
                <i class="fas fa-pen-fancy"></i>
            </a>
        </small>
    <% } %>
    <% if(i.edited) {%>
        <small class="post-editedTag">
            Edited
        </small>
    <% } %>
    <small class="author-post-name">
        <a href="/users/profile/<%= i.user._id %>">
            <% if(i.user.avatar) {%>
                    <img src="<%= i.user.avatar %>"> 
            <% } else if (i.user.gender=="male"){%>
                        <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
            <% }  else {%>
                        <img src="/images/femaleProfile.png" width="100" height="100">
            <% } %>
            <span><%= i.user.name %></span>
        </a>
    </small>
    <div class="post-content" id="post-<%= i._id%>-content">
       
        <div class="post-text">
                <% if(!i.sharedFromPost) {%>
                    <% if(locals.user.id!=i.user.id) { %>
                        <span> <%= i.content %> </span>
                    <% } else { %>
                        <% if(!i.update ) {%>
                            <span> <%= i.content %> </span>
                        <% } else { %>
                            <form action="/posts/update-post-p2" method="post" class="post-update-form">
                                <textarea required  name="content" ><%= i.content%></textarea>
                                <input type="hidden" name="post" value="<%= i._id%>">
                                <button type="submit">Update</button>
                            </form>
                            
                        <% } %>
                    <% } %>
                    
                <% } else { %>
                    <% if(locals.user.id!=i.user.id) { %>
                        <span> <%= i.content.newContent %> </span>
                    <% } else { %>
                        <% if(!i.update) {%>
                            <span> <%= i.content.newContent %> </span>
                        <% } else { %>
                            <form action="/posts/update-post-p2" method="post" class="post-update-form">
                                <textarea required  name="content" ><%= i.content.newContent%></textarea>
                                <input type="hidden" name="post" value="<%= i._id%>">
                                <button type="submit">Update</button>
                            </form>
                        <% } %>
                    <% } %>
                    <div class="copiedPost">
                        <div class="copiedAuthIntro">
                            <a href="/users/profile/<%= i.content.prevAuthID%>">
                                <span><%= i.content.prevAuthName%></span>
                                <img  src="<%= i.content.prevAuthImage %>">
                            </a>
                        </div>
                        <p><%= i.content.prevAuthContent%></p>
                    </div>
                <% } %>
                
            
        </div>
        
        <div class="post-comments">
            <form action="/comments/create-comment" method="post" id="post-<%= i._id %>-comments-form">
                <input type="text" name="content" placeholder="Type here to add comment...." required>
                <input type="hidden" name="post" value="<%= i._id %>">
                <button type="submit">Add comment</button>
            </form>
            <div class="post-comment-number" id="post-<%= i._id%>-comment-number" data-comments="<%= i.comments.length %>" data-target="#post-comments-<%= i._id %>-list" data-toggle="collapse" >
                <span >
                    <%= i.comments.length %> 
                </span>
                <i class="fas fa-comments"></i>
            </div>
        </div>
        <div class="post-comments-list collapse" id="post-comments-<%= i._id %>-list">
            <ul id="post-comments-<%= i._id %>">
                <% for(comment of i.comments) { %>
                   <%- include("_comment") -%>
                <% } %>
            </ul>
    
        </div>
    </div>

    <div class="post-timestamps">
        <%= i.createdAt.toLocaleString() %> 
    </div>

    <div class="post-share-box">
      
        <div class="post-shares-number" id="post-<%= i._id %>-shares-number">
            <% if(!i.sharedFromPost) {%>
                <span class="post-shares-no-display" data-target="#post-<%= i.id %>-shares" data-toggle="modal" ><%= i.shares.length %></span>
            <% } %>
            <span data-toggle="modal" data-target="#post-<%= i._id%>-share-modal">
                <i class="fas fa-share"></i>
            </span>
        </div>
        <% if(!i.sharedFromPost) {%>
            <div class="modal fade" id="post-<%= i._id %>-shares" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="#post-<%=i._id%>-title">Post Shares 
                        <br></h4>
                    </div>
                    <div class="modal-body">
                        <ul  class="post-share-username-list" id="post-<%= i._id %>-shares-list">
                            <% for(share of i.shares) {%>
                                <li id="share-<%= share._id %>">
                                    
                                    <%- include("_shareDisplay"); %>
                                    
                                </li>
                            <% } %>
                    
                    </ul>
                    </div>
                
                </div>
                
                </div>
            </div>
          <% } %>
        
            <div class="modal post-share-modal fade" id="post-<%= i._id%>-share-modal" role="dialog" >
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="#post-<%=i._id%>-title">Share this Post?
                        <br></h4>
                    </div>
                    <div class=" modal-body"  >
                        <%- include("_sharePostForm"); %>
                        
                    </div>
                
                </div>
            </div>
    
        
            </div>
       

    
   
</li>