<li id="reply-<%= reply._id%>" onmouseup="removetagInvisible()">
  <div class="commentreply-like-box">
    <div class="commentreply-likes-number" id="commentreply-<%= reply._id %>-likes-number">
        <span data-target="#commentreply-<%= reply._id %>-likes" data-toggle="modal">
            <% if(reply.likes.length>0) {%>
                <%= reply.likes.length %> 
                <% if(reply.likes.length==1) {%>
                    Reaction
                <% } else { %>
                    Reactions
                <% } %>
            <% } %> 
        </span>
    </div>
    <div class="modal commentreplylikemodal fade" id="commentreply-<%= reply._id %>-likes" role="dialog" >
        <div class="modal-dialog ">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="commentreply-<%=reply._id%>-like-title">Reply
                <% if(reply.likes.length==0 || reply.likes.length==1) {%>  
                  Reaction
                  <%} else {%>
                      Reactions
                  <% } %>  
                <span>
                    <% if(reply.likes.length>0) { %>
                        <%= reply.likes.length%>
                    <% } %>
                    <i class="far fa-heart"></i>
                  </span>
                </h4>
            </div>
            <div class="modal-body">
                
                <ul  class="commentreply-like-username-list " id="commentreply-<%= reply._id %>-likes-list">
                        <% for(like of reply.likes) {%>
                            <li id="like-<%= like._id %>" class="commentreply-username-li">
                               
                                <%- include("_likeDisplay"); %>
                               
                            </li>
                        <% } %>
                </ul>
            
            </div>
           
          </div>
          
        </div>
    </div>
</div>
    <div class="dropdown bars">
        <div class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
        </div>
        <div class="dropdown-menu drop-design" aria-labelledby="dropdownMenuLink">
          <% if(locals.user.id==comment.user.id || locals.user.id==i.user || locals.user.id==reply.user.id) { %>
            <a class="dropdown-item" data-toggle="modal" data-target="#deleteReplyModal-<%=reply._id%>">
              Delete <i class="fas fa-times" ></i> 
            </a>
          <% } %>
          <% if(locals.user.id==reply.user.id) {%>  
            <a class="dropdown-item update-reply-button" href="/comments/update-reply/<%= reply._id %>" >Edit <i class="fas fa-pen-square"></i></a>
          <% } %>
          <a class="dropdown-item reply-reply-button" href="/comments/reply-reply-r1/<%= reply._id%>">Reply <i class="far fa-comment-dots"></i></a>
          <a class="dropdown-item toggle-like-button" href="/likes/toggle/?id=<%=reply._id%>&type=CommentReply" data-likes="<%= reply.likes.length %>" id="reply-<%= reply._id%>-like-toggle">
            <% if(!reply.liked) {%>
              Like <i class="far fa-thumbs-up"></i>
            <% } else { %>
              Unlike <i class="far fa-thumbs-up"></i>
            <% } %>
          </a>
        </div>
    </div>
    <% if(locals.user.id==comment.user.id || locals.user.id==i.user || locals.user.id==reply.user.id) {%>
      <div class="modal replydeletemodal-2 fade" tabindex="-1" role="dialog" id="deleteReplyModal-<%=reply._id%>" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog replydeletemodaldialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title"><i class="fas fa-trash-alt"></i> Reply?</h2>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete it? </p>
            </div>
            <div class="modal-footer">
              <a href="/comments/destroy-comment-reply/<%= reply._id %>" class="delete-reply-button btn btn-danger" data-dismiss="modal">Remove</a>
              <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>  
   
    <div class="reply-author-tag">
        <a href="/users/profile/<%= reply.user._id %>">
            <% if(reply.user.avatar) {%>
                    <img src="<%= reply.user.avatar %>"> 
            <% }  else {%>
              <div class="concealed-image" style="background:<%=reply.user.info.bgColor%>;"><span><%= reply.user.name.split(" ")[0].charAt(0)%></span></div>
            <% } %>
  
            <% if(reply.user.id==i.user) { %>
                <span><%= reply.user["name"] %></span><span class="Author-tag" style="width: 45px;"> Author</span>
            <% } else { %>
                <span><%= reply.user["name"] %></span>
            <% } %>
        </a>
    </div>
    <div class="reply-content" id="reply-<%=reply._id%>-content">
      <% if(!reply.isReply) { %>
          <%= reply.content%>
      <% } else { %>
          <% if(reply.content.originalReplyID!=null) { %>
                <% if(locals.user.id!=reply.user.id) { %>
                  <a href="/users/profile/<%= reply.content.originalAuthorID%>" >
                    <%= reply.content.originalAuthorName%>
                    
                  </a>
                <% } else { %>
                  <div class="removetag" id="removetag-<%= reply._id%>">
                    <a href="/comments/reply-remove-tag/<%= reply._id %>" class="removetag-button">Remove Tag?</a>
                  </div>
                
                  <a href="/users/profile/<%= reply.content.originalAuthorID%>" onmouseover="removetagVisible(this)" name="<%= reply._id%>">
                    <%= reply.content.originalAuthorName%>
                   
                  </a>
                <% } %>
                
          <% } %> 
          <span class="replyreplycontent"><%= reply.content.content %></span>
      <% } %>
    </div>
    <% if(reply.edited) {%>
        <span class="editedReply">Edited</span>
    <% } %>
    
</li>