<li id="reply-<%= reply._id%>">
    <div class="dropdown bars">
        <div class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
        </div>
        <div class="dropdown-menu drop-design" aria-labelledby="dropdownMenuLink">
          <% if(locals.user.id==comment.user.id || locals.user.id==i.user || locals.user.id==reply.user.id) { %>
            <div class="dropdown-item" data-toggle="modal" data-target="#deleteReplyModal-<%=reply._id%>">
              Delete <i class="fas fa-times" ></i> 
            </div>
          <% } %>
          <% if(locals.user.id==reply.user.id) {%>  
            <a class="dropdown-item update-reply-button" href="/comments/update-reply/<%= reply._id %>" >Edit <i class="fas fa-pen-square"></i></a>
          <% } %>
          <a class="dropdown-item reply-reply-button" href="/comments/reply-reply-r1/<%= reply._id%>">Reply <i class="far fa-comment-dots"></i></a>
          <a class="dropdown-item">Like <i class="far fa-thumbs-up"></i></a>
        </div>
    </div>
    <% if(locals.user.id==comment.user.id || locals.user.id==i.user || locals.user.id==reply.user.id) {%>
      <div class="modal fade" tabindex="-1" role="dialog" id="deleteReplyModal-<%=reply._id%>" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title"><i class="fas fa-trash-alt"></i> Reply?</h2>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete it? </p>
            </div>
            <div class="modal-footer">
              <a href="/comments/destroy-comment-reply/<%= reply._id %>" class="delete-reply-button btn btn-danger" data-dismiss="modal">Remove</a>
              <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>  
   
    <div class="reply-author-tag">
        <a href="/users/profile/<%= reply.user._id %>">
            <% if(reply.user.avatar) {%>
                    <img src="<%= reply.user.avatar %>"> 
            <% } else if (reply.user.gender=="male"){%>
                    <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
            <% }  else {%>
                    <img src="/images/femaleProfile.png" width="100" height="100">
            <% } %>
  
            <% if(reply.user.id==i.user) { %>
                <span><%= reply.user["name"] %></span><span class="Author-tag" style="width: 45px;"> Author</span>
            <% } else { %>
                <span><%= reply.user["name"] %></span>
            <% } %>
        </a>
    </div>
    <div class="reply-content"><%= reply.content%></div>
    <% if(reply.edited) {%>
        <span class="editedReply">Edited</span>
    <% } %>
    
</li>