<form action="/posts/share-post/" method="post" class="toggle-share-button" data-shares="<%= i.shares.length %>" id="post-<%= i._id %>-share-form">

    <textarea name="content" required onkeydown="autosize1(this)">Add some thoughts to it!!!</textarea> 
    <input type="hidden" name="post" value="<%= i._id%>">

    <div class="shared-post-form">
            <p>
                <a href="/users/profile/<%= i.user._id %>">
                    <% if(i.user.avatar) {%>
                        <img src="<%= i.user.avatar %>"> 
                    <% }  else {%>
                        <span class="concealed-image" style="background:<%=i.user.info.bgColor%>;"><span><%= i.user.name.split(" ")[0].charAt(0).toUpperCase()%></span></span>
                    <% } %>
                        <span style="align-self: center;" class="author-name"><%= i.user.name %></span>
                </a>
            </p>
            <p class="share-content">
                <%= i.content%>
            </p>
       
    </div>
    <div class="modal-footer">
            <button class="btn btn-secondary" name="<%= i._id %>">Submit</button>
    </div>
</form>
