<% if(profileUser.id==user.id) {%>
    <div class="edit-work">
        <a href="/users/update-work-modal/?id=<%=work._id%>" class="edit-work-calling"><i class="fas fa-pen-square"></i></a>
    </div>
    <div class="delete-work">
        <a href="/users/delete-work-modal/?id=<%= work._id %>" class="delete-work-calling">
            <i class="fas fa-minus-square"></i>
        </a>
    </div>
<% } %>
<div class="two-g">
    <div style="width: 70%;">
        <div class="title">
            <%= work.title%>
        </div>
        <div class="company">
            <%= work.company%>
        </div>
    </div>
    <div class="one-g">
        <%= work.fromMonth%>/<%= work.fromYear %> to
        <% if(work.check) {%>
            Present
        <%} else {%>
            <%= work.toMonth%>/<%= work.toYear%> 
        <% }%>
    </div>
</div>
<% if(work.descrpt) {%>
    <div class="work-descrpt">
            <%= work.descrpt%>
    </div>
<% } %>

   