<link rel="stylesheet"  href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet"  href="<%= assetPath('css/chat.css') %>">

<h1> Homepage </h1>


<div class="home-container">

    <% if(locals.user) { %> 
        
        
            <section id="feed-posts">
                <h4>Posts</h4>

                <form id="new-post-form" method="post" action="/posts/create-post">
                    <textarea name="content" id="new-post-content" required cols="30" rows="3" placeholder="Type here..."></textarea>
                    <br>
                    <button type="submit">Post</button>
                </form>
                <div id="posts-list-container">
                    <ul>
                        <% for(i of posts) { %>

                            <%- include('_post') -%>
                                        
                        <% } %>
                    </ul>
                </div>
            </section>
        
            <section id="user-friends" >
                <div id="friends">
                    <h4>Friends</h4>
                    <div id="user-friends-<%= user._id %>">
                        <% for(u of user.friendships) { %> 
                            <p>
                                
                                  
                                        <a href="/users/profile/<%= u.toUser._id %>">
                                            <%= u.toUser.name %>
                                        </a>
                                   
                                
                            </p>
        
                        <% } %>
                    </div>
                </div>
                <div id="all-users">
                    <h4>All Users</h4>
                    <% for(u of all_users) { %> 
                        <p>
                            <a href="/users/profile/<%= u.id %>">
                                <%= u.name %>
                            </a>
                        </p>
    
                    <% } %>
                </div>
            </section>
            <%- include("_chat"); %>
           
           
      
    <% } else { %>
        <p style="font-size: 1.3rem;">Welcome to the Codeial. Kindly signup or signup!</p>
    <% } %>
</div>

<script src="<%= assetPath('js/home_post_comments.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<script src="<%= assetPath('js/like.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if(locals.user) {%>
    <script>
        new ChatEngine('user-chat-box','<%= locals.user.email %>');
    </script>
<% } %>



    

