<h1> Homepage </h1>

<section id="feed-posts">
    

    <% if(locals.user) { %> 
        <!-- <%= locals.user._id%> -->
        <h4>Posts</h4>

        <form id="new-post-form" method="post" action="/posts/create-post">
            <textarea name="content" id="new-post-content" required cols="30" rows="3" placeholder="Type here..."></textarea>
            <br>
            <button type="submit">Post</button>
        </form>

        <ul>
            <div id="posts-list-container">
                    <% for(let i of posts) { %>
                            <li style="text-align: left;">
                                <p>
                                    <%= i.content %>
                                    <small><%= i.user["name"] %></small>
                                </p>
                                <div class="post-comments">
                                    <form action="/comments/create-comment" method="post">
                                        <input type="text" name="content" placeholder="Type here to add comment...." required>
                                        <input type="hidden" name="post" value="<%= i._id %>">
                                        <button type="submit">Add comment</button>
                                    </form>
                                </div>
                                <div class="post-comments-list">
                                    <ul id="post-comments-<%= i._id %>">
                                        <% for(let comment of i.comments) { %>
                                            <li>
                                                <p>
                                                    <%= comment.content %>
                                                    <br>
                                                    <small>
                                                        <%= comment.user["name"] %>
                                                    </small>
                                                </p>
                                            </li>
                                        <% } %>
                                    </ul>

                                </div>
                            </li>
                    <% } %>
                
            </div>
        </ul>
    <% } else { %>
        <p style="font-size: 1.3rem;">Welcome to the Codeial. Kindly signup or signup!</p>
    <% } %>

</section>
    

