<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-con" href="https://pngimg.com/uploads/peace_symbol/peace_symbol_PNG8.png">
    <title><%= title %></title>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://kit.fontawesome.com/a5a7a79d9a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="/css/layout.css">
    <link rel="stylesheet"  href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/like.css">
    <link rel="stylesheet"  href="/css/home.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <%- style %> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <%- include("_header"); %>

  

    <main id="layout-main">
        <%- body %>
    </main>
    

    <%- include("_footer"); %>
   


  
    <script>
        <% if(flash.success && flash.success.length>0) { %>
            new Noty({
                theme:"relax",
                text:"<%= flash.success %>",
                type:"success",
                layput:"topRight",
                timeout:1500
            }).show();
        <% } %>

        <% if(flash.error && flash.error.length>0) { %>
            new Noty({
                theme:"relax",
                text:"<%= flash.error %>",
                type:"error",
                layput:"topRight",
                timeout:1500
            }).show();
        <% } %>

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/js/home_post_comments.js"></script>
    <script src="/js/home_posts.js"></script>
    <script src="/js/like.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/chat_engine.js"></script>
    <script>
        $('.toggle-like-button').each(function(){
            let self = this;
            console.log("changing present toggle");
            let toggleLike = new ToggleLike(self);
        });

    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>



   

    <%- script %>
</body>
</html>