<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-con" href="/images/peace-symbol.png">
    <link href="https://fonts.googleapis.com/css2?family=Bentham&family=Bellota:wght@700&family=Cabin+Sketch:wght@700&family=Courgette&family=Dancing+Script&family=Kaushan+Script&family=Marck+Script&family=Merienda+One&family=Parisienne&family=Rufina&family=Satisfy&family=VT323&family=Pacifico&family=Special+Elite&family=Cedarville+Cursive&family=Cinzel&display=swap" rel="stylesheet">
    <title><%= title %></title>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://kit.fontawesome.com/a5a7a79d9a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="/css/layout.css">
    <link rel="stylesheet"  href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/like.css">
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet" href="/css/searchbar.css">
    <link rel="stylesheet" href="/css/postlike.css">
    <link rel="stylesheet" href="/css/comment.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <%- style %> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <%- include("_header"); %>
        <% if(locals.user) {%>
            <div id="stars-group-1"></div>
            <div id="stars-group-2"></div>
            <div id="stars-group-3"></div>
            <div id="stars-group-4"></div>
            <% if(title!="Skyinyou | Comment Replies") {%>
                <main id="layout-main" style="margin-bottom: 0px;">
            <% } else {%>
                <main id="layout-main" style="margin-bottom: 0px;">
            <% } %>
        <% } else { %>
            <% if(title=="Skyinyou | New Password" || title=="Skyinyou | Forget Password" || title=="Skyinyou | Confirm Account") {%>
                <main id="layout-main" style="margin-top: 75px;margin-bottom: 0px;">
            <% } else { %>
                <main id="layout-main" style="margin-top: 75px;">
            <% } %>
        <% } %>

        
            <%- body %>
        </main>

        

    <%- include("_footer"); %>
  
    <script>
        <% if(flash.success && flash.success.length>0) { %>
            new Noty({
                theme:"relax",
                text:"<%= flash.success %>",
                type:"success",
                layput:"topRight",
                timeout:1700
            }).show();
        <% } %>

        <% if(flash.error && flash.error.length>0) { %>
            new Noty({
                theme:"relax",
                text:"<%= flash.error %>",
                type:"error",
                layput:"topRight",
                timeout:1700
            }).show();
        <% } %>

    </script>

    <script src="/js/home_post_comments.js"></script>
    <script src="/js/home_posts.js"></script>
    <script src="/js/like.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/share.js"></script>
    <script src="/js/replyComment.js"></script>
    <script src="/js/chat_engine.js"></script>
    <script>
        $('.toggle-like-button').each(function(){
            let self = this;
            let toggleLike = new ToggleLike(self);
        });
        $('.toggle-share-button').each(function(){
            let self = this;
            let postShare = new SharePost(self);
        });
        $('.comment-reply-form').each(function(){
            let self = this;
            let commentReply = new replyOnComment(self);
        });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <%- script %>
</body>
</html>