<link rel="stylesheet"  href="/css/replyComment.css">   

<div id="comment-<%=comment._id%>-reply" onmouseup="removetagInvisible()">
  
      <div class="commentReplyClass">


        <div class="comment-like-box">
          <div class="comment-likes-number" id="comment-<%= comment._id %>-likes-number">
              <span data-target="#comment-<%= comment._id %>-likes" data-toggle="modal">
                  <% if(comment.likes.length>0) {%>
                      <%= comment.likes.length %>
                  <% } %>
              </span>
              <a class="toggle-like-button" href="/likes/toggle/?id=<%=comment._id%>&type=Comment" data-likes="<%= comment.likes.length %>">
                  <i class="fas fa-thumbs-up like-thumbs"></i>
              </a>
          </div>
  
          <div class="modal fade" id="comment-<%= comment._id %>-likes" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="comment-<%=comment._id%>-like-title">Comment Reactions  
                      <span>
                          <% if(comment.likes.length>0) { %>
                              <%= comment.likes.length%>
                          <% } %>
                          <i class="far fa-heart"></i>
                        </span>
                      </h4>
                  </div>
                  <div class="modal-body">
                      
                      <ul  class="comment-like-username-list " id="comment-<%= comment._id %>-likes-list">
                              <% for(like of comment.likes) {%>
                                  <li id="like-<%= like._id %>" class="comment-username-li">
                                     
                                      <%- include("_likeDisplay"); %>
                                     
                                  </li>
                              <% } %>
                      </ul>
                  
                  </div>
                 
                </div>
                
              </div>
          </div>
      </div>


      <% if(locals.user.id==comment.user.id || locals.user.id==i.user) { %>
        <small class="comment-deletion">
            <span data-toggle="modal" data-target="#deleteCommentModal" class="delete-comment-modal">
                <i class="fas fa-times"></i>
            </span>
            <div class="modal fade" tabindex="-1" role="dialog" id="deleteCommentModal" >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title"><i class="fas fa-trash-alt"></i> Comment?</h2>
                    </div>
                    <div class="modal-body">
                      <p style="text-align: left;">Are you sure you want to delete it? All the likes and replies will be lost forever.</p>
                    </div>
                    <div class="modal-footer">
                      <a href="/comments/destroy-comment-reply-page/<%= comment._id %>" class="delete-comment-button btn btn-danger">Remove</a>
                      <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    </div>
                  </div>
                </div>
              </div>
        </small>
      
    <% } %>
  <% if(locals.user.id==comment.user.id) {%>
      <small class="comment-update-tag"> 
          <a href="/comments/update-comment/<%= comment._id %>" class="update-comment-button" >
              <i class="fas fa-marker"></i>
          </a>
      </small>
  <% } %>
  <% if(comment.edited) { %>
      <small class="comment-editedTag">Edited</small>
  <% } %>


        <div class="reply-header">
          <h4 class="reply-title">
              <p>Comment Replies</p>
              <a href="/users/profile/<%= comment.user._id %>">
                <% if(comment.user.avatar) {%>
                        <img src="<%= comment.user.avatar %>"> 
                <% } else if (comment.user.gender=="male"){%>
                            <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
                <% }  else {%>
                            <img src="/images/femaleProfile.png" width="100" height="100">
                <% } %>
                <% if(comment.user.id==i.user) { %>
                    <span class="effect-underline"><%= comment.user["name"] %></span><span class="author-tag" > Author</span>
                <% } else { %>
                    <span class="effect-underline"><%= comment.user["name"] %></span>
                <% } %>
            </a>
          </h4>
        </div>
        <div class="reply-body">
          <div class="commentReplyContent" id="comment-<%=comment._id%>-reply-content">
            <%= comment.content %>
          </div>
          <form action="/comments/create-comment-reply/" method="post" id="comment-<%= comment._id%>-reply-form" class="comment-reply-form">
                <input type="text" name="content" placeholder="Want to add something?" required>
                <input type="hidden" name="comment" value="<%= comment._id%>">
                <button type="submit" onclick="submitReplyModal(this)" name="<%= comment._id%>">Add Reply</button>
          </form>
          <ul id="comment-<%=comment._id%>-reply-list" class="comment-replies-list">
          <% for(reply of comment.replies) { %>
            
            <%- include("_replyComment"); %>
            
          <% } %>
          </ul>
        </div>
    
      </div>
  
    </div>
  </div>