<link rel="stylesheet"  href="/css/replyComment.css">   

<div id="comment-<%=comment._id%>-reply" class="">
  
      <div class="commentReplyClass">
        <div class="reply-header">
          <h4 class="reply-title">
              <p>Comment Replies</p>
              <a href="/users/profile/<%= comment.user._id %>">
                <% if(comment.user.avatar) {%>
                        <img src="<%= comment.user.avatar %>"> 
                <% } else if (comment.user.gender=="male"){%>
                            <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
                <% }  else {%>
                            <img src="/images/femaleProfile.png" width="100" height="100">
                <% } %>
                <% if(comment.user.id==i.user) { %>
                    <span class="effect-underline"><%= comment.user["name"] %></span><span class="author-tag" > Author</span>
                <% } else { %>
                    <span class="effect-underline"><%= comment.user["name"] %></span>
                <% } %>
            </a>
          </h4>
        </div>
        <div class="reply-body">
          <div class="commentReplyContent" id="comment-<%=comment._id%>-reply-content">
                  <%= comment.content %>
          </div>
          <form action="/comments/create-comment-reply/" method="post" id="comment-<%= comment._id%>-reply-form" class="comment-reply-form">
                <input type="text" name="content" placeholder="Want to add something?" required>
                <input type="hidden" name="comment" value="<%= comment._id%>">
                <button type="submit" onclick="submitReplyModal(this)" name="<%= comment._id%>">Add Reply</button>
          </form>
          <ul id="comment-<%=comment._id%>-reply-list" class="comment-replies-list">
          <% for(reply of comment.replies) { %>
            
            <%- include("_replyComment"); %>
            
          <% } %>
          </ul>
        </div>
    
      </div>
  
    </div>
  </div>