<link rel="stylesheet" href="/css/userProfile.css">
<link rel="stylesheet"  href="/css/chat.css">
<div style="width: 100%;background: linear-gradient(to bottom,transparent,#1D6396, #00A5CF) !important;margin-top: 70px;">
    <h1 class="heading-background">
        <div>
            <div class="cloud" id="first-cloud"></div>
            <div class="cloud" id="second-cloud"></div>
            <div class="cloud" id="third-cloud"></div>
        <% if(user.id==profileUser.id) {%>
            <span>Your's Azure!</span>     
        <% } else {%>
            <span><%= profileUser.name %>'s Azure!</span>
        <% } %>
            <div class="cloud" id="four-cloud"></div>
            <div class="cloud" id="five-cloud"></div>
            <div class="cloud" id="six-cloud"></div>
            <div class="cloud" id="seven-cloud"></div>
            <div class="cloud" id="eight-cloud"></div>
        </div>
    </h1>

    <div class="profile-intro">
      <div class="first">
        <div class="accordion" id="accordionExample">
          <div class="card">
              <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                      <button type="button" class="collapsed" data-toggle="collapse" data-target="#collapseOne"><i class="far fa-handshake"></i> Amities</button>									
                  </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                      <% if(friends.length>0) {%>
                            <% if(mutualfriends.length>0) {%>
                                <p  data-toggle="modal" data-target="#mutualfriendModal" style="cursor: pointer;">
                                    <%= mutualfriends.length%> 
                                    <% if(mutualfriends.length==1) {%>
                                        Mutual Connection
                                    <%} else {%>
                                        Mutual Connections
                                    <% } %> 
                                </p>
                            <% } %>
                            <p  data-toggle="modal" data-target="#friendModal" style="cursor: pointer;" class="normal-connections">
                                <%= friends.length%>
                                <% if(friends.length==1) {%>
                                    Connection 
                                <%} else {%>
                                    Connections
                                <% } %> 
                            </p>
                      <% } else {%>
                            <% if(user.id!=profileUser.id) {%>
                                <div>Well, Looks like you have to make the first move xD!</div>
                            <% } else { %>
                                <div>
                                    Are you ready for it?
                                </div>
                            <% } %>
                      <% } %>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                      <button type="button" class="collapsed"  data-toggle="collapse" data-target="#collapseTwo"><i class="fas fa-briefcase"></i> Experience</button>
                  </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <% if(works.length!=0) {%>
                        <p data-toggle="modal" data-target="#viewWorkModal" style="cursor: pointer;" class="toggle-p">
                            Workalholicness
                        </p>
                    <% }else if(profileUser.id!=user.id){%>
                        <p><%= profileUser.name.split(" ")[0]%> is employed at "None of your business" Co.</p>
                    <% }%>
                    <% if(profileUser.id==user.id) {%>
                        <p data-toggle="modal" data-target="#addWorkFormModal" style="cursor: pointer;" class="toggle-p">Want to brag about it?</p>
                    <% } %>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                      <button type="button" class="collapsed" data-toggle="collapse" data-target="#collapseThree">
                        <i class="fas fa-graduation-cap"></i> Graduation
                      </button>                     
                  </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <% if(grads.length!=0) {%>
                        <p data-toggle="modal" data-target="#viewGradModal" style="cursor: pointer;" class="toggle-p">
                            Gradenation
                        </p>
                    <% }else if(profileUser.id!=user.id){%>
                        <p><%= profileUser.name.split(" ")[0]%> has graduated from "Not Concerning You" School.</p>
                    <% }%>
                    <% if(profileUser.id==user.id) {%>
                        <p data-toggle="modal" data-target="#addGradFormModal" style="cursor: pointer;" class="toggle-p">Wanna take this to academic mode?</p>
                    <% } %>
                  </div>
              </div>
          </div>
      </div>
   
      </div>

      <div class="middle">
        <% if(profileUser.avatar) {%>
            <img src="<%= profileUser.avatar %>" alt="<%= profileUser.name %>" width="100" height="100">
        <% }  else {%>
            <div class="concealed-image" style="background:<%=profileUser.info.bgColor%>;"><span><%= profileUser.name.split(" ")[0].charAt(0)%></span></div>
        <% } %>
        <p class="profile-name"><%= profileUser.name %></p>
        <p class="profile-about">
            <span class="about-tag">About-</span>
            <% if(profileUser.info ) {%>
                <q><%= profileUser.info.about%></q>
            <% } %>
        </p>
        <% if(profileUser.id==user.id) {%>
            <span class="editprofile-tag" data-toggle="modal" data-target="#editProfileModal">Edit Profile</span>
        <% } else {%>   
            <div class="add-chat-friend-group">
                <% if(!friended) {%>
                    <% if(!pendingFrom && !pendingTo) {%>
                        <a href="/users/friends-pending-form/?to=<%=profileUser._id%>" class="add-friend-button">
                                Add Friend
                        </a>
                    <% } else if(pendingFrom) {%>
                        <span class="pending-from">Friend Request Pending</span>
                        <a href="/users/friends-cancel-form-from/?to=<%=profileUser._id%>" class="cancel-friend-button">
                            Want to cancel it?
                        </a>
                    <% } else { %>
                        <span class="pending-form-present">Want to accept this friend request?</span>
                        <div class="pending-form-options">
                            <a href="/users/make-friends/?from=<%=profileUser._id%>" class="confirm-friend-button">Confirm</a>
                            <a href="/users/friends-cancel-form-to/?from=<%=profileUser._id%>" class="no-friend-button">Not Yet</a>
                        </div>
                    <% } %>
                <% } else {%>
                   
                    <div data-toggle="modal" data-target="#removeFriendModal" class="remove-friend-button-1">
                        Remove Friend
                    </div>
                 
                <% } %>
                
            </div>
       
        <% } %>
      </div>
    

      <div class="third">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button type="button" class="collapsed" data-toggle="collapse" data-target="#collapseFour">
                            <i class="far fa-user"></i> Details
                        </button>									
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                    <% if(!profileUser.info.personalInfo || (!profileUser.info.personalInfo.currentCity && !profileUser.info.personalInfo.homeTown && !profileUser.info.personalInfo.bDay)) {%>
                       <% if(profileUser.id!=user.id)  { %>
                            <p>
                                Come back later, maybe <%=profileUser.name.split(" ")[0]%> will update it.
                            </p>
                       <% } else {%>
                            <p>
                                You can add this section by using <b><i>Personal Information</i></b> of "Edit Profile". 
                            </p>
                       <% } %>
                    <% } else { %>
                        <% if(profileUser.info.personalInfo.currentCity) {%>
                            <div>
                                <i class="fas fa-map-marker-alt" style="color: #eeafd7;"></i> 
                                <div style="margin-left: 18px;">
                                    Current City:
                                    <b><%= profileUser.info.personalInfo.currentCity%></b> 
                                </div>
                            </div>
                        <% } %>
                        <% if(profileUser.info.personalInfo.homeTown) {%>
                            <div>
                                <i class="fas fa-home" style="color: #e1a6a6;"></i> 
                                <div style="margin-left: 12px;">
                                    Hometown:
                                    <b><%= profileUser.info.personalInfo.homeTown%></b> 
                                </div>
                            </div>
                        <% } %>
                        <% if(profileUser.info.personalInfo.bDay) {%>
                            <div>
                                <i class="fas fa-birthday-cake" style="color: #a5a5e3;"></i> 
                                <div style="margin-left: 16px;"> 
                                    Birthday:
                                    <b><%= birthday%></b> 
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button type="button" class="collapsed"  data-toggle="collapse" data-target="#collapseFive">
                            <i class="fas fa-id-badge"></i> Network
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <% if(!profileUser.info.contactInfo || (!profileUser.info.contactInfo.phone && !profileUser.info.contactInfo.website)) {%>
                            <% if(profileUser.id!=user.id)  { %>
                                 <p>
                                    <%=profileUser.name.split(" ")[0]%> can be approached in real life too.
                                 </p>
                            <% } else {%>
                                 <p>
                                     You can add this section by using <b><i>Contact Information</i></b> of "Edit Profile". 
                                 </p>
                            <% } %>
                         <% } else { %>
                             <% if(profileUser.info.contactInfo.phone) {%>
                                 <div>
                                    <i class="fas fa-mobile-alt" style="color:#e3c0f2;"></i>
                                     <div style="margin-left: 18px;">
                                         Phone:
                                         <b><%= profileUser.info.contactInfo.phone%></b> 
                                     </div>
                                 </div>
                             <% } %>
                             <% if(profileUser.info.contactInfo.website) {%>
                                 <div>
                                    <i class="far fa-window-maximize" style="color: #ec9fec;"></i>
                                     <div style="margin-left: 12px;">
                                         Website:
                                         <b>
                                            <a target="_blank" href="<%= profileUser.info.contactInfo.website%>">
                                                <%= profileUser.name.split(" ")[0]%>'s Portfolio
                                            </a>
                                        </b> 
                                     </div>
                                 </div>
                             <% } %>
                         <% } %>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button type="button" class="collapsed" data-toggle="collapse" data-target="#collapseSix">
                            <i class="fas fa-hashtag"></i> Media
                        </button>                     
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <% if(!profileUser.info.socialInfo || (!profileUser.info.socialInfo.fb && !profileUser.info.socialInfo.linkedin && !profileUser.info.socialInfo.quora && !profileUser.info.socialInfo.twitter && !profileUser.info.socialInfo.insta && !profileUser.info.socialInfo.utube)) {%>
                            <div class="card-body social-link-container" style="justify-content: flex-start;">
                                <% if(profileUser.id!=user.id)  { %>
                                    <p>
                                        <%=profileUser.name.split(" ")[0]%> is live on <span style="font-family: 'Merienda One', cursive;">AMIGOBOOK</span>!
                                    </p>
                                <% } else {%>
                                    <p>
                                        You can add this section by using <b><i>Social Media</i></b> of "Edit Profile". 
                                    </p>
                                <% } %>
                            </div>
                        <% } else { %>
                            <div class="card-body social-link-container">
                                        <% if(profileUser.info.socialInfo.fb) {%>
                                            <div>
                                                <b>
                                                    <a href="<%= profileUser.info.socialInfo.fb%>" class="social-links" target="_blank">
                                                    <i class="fab fa-facebook" style="color: #3B5998;"></i>
                                                    </a>
                                            </b>
                                            </div>
                                        <% } %>
                                        <% if(profileUser.info.socialInfo.linkedin) {%>
                                        <div>
                                            <b>
                                                <a href="<%= profileUser.info.socialInfo.linkedin%>" class="social-links" target="_blank">
                                                    <i class="fab fa-linkedin" style="color: #0077B5;"></i>
                                                </a>
                                            </b>
                                        </div>
                                        <% } %>
                                        <% if(profileUser.info.socialInfo.quora) {%>
                                            <div>
                                                <b>
                                                    <a href="<%= profileUser.info.socialInfo.quora%>" class="social-links" target="_blank">
                                                        <i class="fab fa-quora" style="color: #B92B27;"></i>
                                                    </a>
                                                </b>
                                            </div>
                                        <% } %>
                                        <% if(profileUser.info.socialInfo.insta) {%>
                                            <div>
                                                <b>
                                                    <a href="<%= profileUser.info.socialInfo.insta%>" class="social-links" target="_blank">
                                                        <i class="fab fa-instagram" style="color: #BC32AA;"></i>
                                                    </a>
                                                </b>
                                            </div>
                                        <% } %>
                                        <% if(profileUser.info.socialInfo.twitter) {%>
                                            <div>
                                                <b>
                                                    <a href="<%= profileUser.info.socialInfo.twitter%>" class="social-links" target="_blank">
                                                        <i class="fab fa-twitter-square" style="color: #1DA1F2;"></i>
                                                    </a>
                                                </b>
                                            </div>
                                        <% } %>
                                        <% if(profileUser.info.socialInfo.utube) {%>
                                            <div>
                                                <b>
                                                    <a href="<%= profileUser.info.socialInfo.utube%>" class="social-links" target="_blank">
                                                        <i class="fab fa-youtube" style="color:#FF0000"></i>
                                                    </a>
                                                </b>
                                            </div>
                                        <% } %>
                            </div>           
                        <% } %>
                            
                            
            
                </div>
     
      </div>
    </div>
</div>
</div>
</div>
    <% if(friends.length>0) {%>
        <div class="modal fade" id="friendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">
                    <%= friends.length%>
                    <% if(friends.length==1) {%>
                        Connection 
                    <%} else {%>
                        Connections
                    <% } %> 
                </h2>
                </div>
                <div class="modal-body">
                        <ul>
                            <% for(friend of friends) {%>
                                <li id="user-<%= friend._id%>" class="friend-list">
                                    <%- include("_friendDisplay"); %>
                                </li>
                                
                            <% } %>
                        </ul>
                </div>
                
            </div>
            </div>
        </div>
        <% if(user.id==profileUser.id) { %>
            <% for (friend of friends) {%>
                <div class="modal fade delete-friend-warning" id="deleteFriendModal-<%= friend._id %>" data-backdrop="static" >
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title"><i class="fas fa-trash-alt"></i> Buddy?</h2>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to remove <b><%= friend.name%></b> from your world? </p>
                        </div>
                        <div class="modal-footer">
                            <a href="/users/destroy-friends/true/?to=<%=friend._id%>" class="remove-friend-button">
                                <i class="fas fa-handshake-slash"></i>
                        </a>
                        <a data-dismiss="modal" class="discard-friend">Discard</a>
                        </div>
                    </div>
                    </div>
                </div>
            <% } %>
           
        <% } else {%>
            <div class="modal fade" id="mutualfriendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">
                        <%= mutualfriends.length%>
                        <% if(mutualfriends.length==1) {%>
                            Mutual Connection 
                        <%} else {%>
                            Mutual 
                            Connections
                        <% } %> 
                    </h2>
                    </div>
                    <div class="modal-body">
                            <ul>
                                <% for(friend of mutualfriends) {%>
                                    <li id="user-<%=friend._id%>" class="friend-list">
                                        <%- include("_friendDisplay"); %>
                                    </li>
                                    
                                <% } %>
                            </ul>
                    </div>
                    
                </div>
                </div>
            </div>
        <% } %>
      
    <% } %>
    <% if(works.length!=0) {%>
        <div class="modal fade" id="viewWorkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #D84315;">
                <h2 class="modal-title" id="exampleModalLabel">
                    Workalholicness
                </h2>
                </div>
                <div class="modal-body">
                        <ul>
                            <% for(work of works) {%>
                                <li id="work-<%=work._id%>" class="work-list">
                                    <%- include("_workDisplay") %>
                                </li>
                                
                            <% } %>
                        </ul>
                </div>
                
            </div>
            </div>
        </div>
        <% if(profileUser.id==user.id) {%>
            <% for(work of works) {%>
                <div class="modal fade update-work-modal" id="workUpdateModal-<%=work._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Wanna Update this?</h5>
                        </div>
                        <form action="/users/workgrad/update-work-grad" method="post">
                            <div class="modal-body">
                                    <input type="hidden" name="id" value="<%= work._id %>">
                                    <input type="hidden" name="type" value="work">
                                    <div class="three-g">
                                        <div>
                                            <span>Title:<sup>*</sup></span>
                                            <input type="text" name="title" value="<%=work.title %>" required>
                                        </div>
                                        <div>
                                            <span>Company:<sup>*</sup></span>
                                            <input type="text" name="company" required value="<%=work.company%>">
                                        </div>
                                        <div>
                                            <span>Description:</span>
                                            <textarea name="descrpt" onkeydown="autosize1(this)"><%= work.descrpt %></textarea>
                                        </div>
                                        <div class="checkbox">
                                            <% if(work.check) {%>
                                                <input type="checkbox" name="check" checked>
                                            <% } else {%>
                                                <input type="checkbox" name="check">
                                            <% } %>
                                            <span>I am currently working in this role</span>
                                        </div>
                                    </div>
                                    <div class="one-g">
                                        <span>Date:<sup>*</sup></span>
                                        <div>
                                            <div class="from-date">
                                            <input type="number" name="fromMonth" required value="<%=work.fromMonth%>">
                                            <input type="number" name="fromYear" required value="<%=work.fromYear%>">
                                            </div>
                                            <div class="to-div">
                                            to  
                                            </div> 
                                            <div class="to-date">
                                                <% if(work.check) {%>
                                                    Present
                                                <%} else {%>
                                                    <input type="number" name="toMonth" required value="<%=work.toMonth%>">
                                                    <input type="number" name="toYear" required value="<%=work.toYear%>">
                                                <% }%>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                    <button type="submit" class="btn btn-info">
                                            Submit
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-secondary">Dismiss</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="modal fade delete-work-warning" id="workDeleteModal-<%=work._id%>" data-backdrop="static" >
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title">Withdraw this <i class="fas fa-mail-bulk"></i>?</h2>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to quit this information? </p>
                        </div>
                        <div class="modal-footer">
                            <a href="/users/workgrad/delete-work-grad/?type=work&id=<%=work._id%>" class="delete-work-button">
                                Delete
                            </a>
                            <a data-dismiss="modal" class="discard-button">Discard</a>
                        </div>
                    </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    <% } %>
    <% if(grads.length!=0) {%>
        <div class="modal fade" id="viewGradModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #8e144c;">
                <h2 class="modal-title" id="exampleModalLabel">
                    Gradenation
                </h2>
                </div>
                <div class="modal-body">
                        <ul>
                            <% for(grad of grads) {%>
                                <li id="grad-<%=grad._id%>" class="grad-list">
                                    <%- include("_gradDisplay") %>
                                </li>
                                
                            <% } %>
                        </ul>
                </div>
                
            </div>
            </div>
        </div>
        <% if(profileUser.id==user.id) {%>
            <% for(grad of grads) {%>
                <div class="modal fade update-grad-modal" id="gradUpdateModal-<%=grad._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Improvise this?</h5>
                        </div>
                        <form action="/users/workgrad/update-work-grad" method="post">
                            <div class="modal-body">
                                    <input type="hidden" name="id" value="<%= grad._id %>">
                                    <input type="hidden" name="type" value="grad">
                                    <div class="three-g">
                                        <div>
                                            <span>Degree:<sup>*</sup></span>
                                            <input type="text" name="title" value="<%=grad.grade %>" required>
                                        </div>
                                        <div>
                                            <span>School/College:<sup>*</sup></span>
                                            <input type="text" name="company" required value="<%=grad.school%>">
                                        </div>
                                        <div>
                                            <span>Description:</span>
                                            <textarea name="descrpt" onkeydown="autosize1(this)"><%= grad.descrpt %></textarea>
                                        </div>
                                        <div class="checkbox">
                                            <% if(grad.check) {%>
                                                <input type="checkbox" name="check" checked>
                                            <% } else {%>
                                                <input type="checkbox" name="check">
                                            <% } %>
                                            <span>I am currently enrolled here</span>
                                        </div>
                                    </div>
                                    <div class="one-g">
                                        <span>Date:<sup>*</sup></span>
                                        <div>
                                            <div class="from-date">
                                            <input type="number" name="fromMonth" required value="<%=grad.fromMonth%>">
                                            <input type="number" name="fromYear" required value="<%=grad.fromYear%>">
                                            </div>
                                            <div class="to-div">
                                            to  
                                            </div> 
                                            <div class="to-date">
                                                <% if(grad.check) {%>
                                                    Present
                                                <%} else {%>
                                                    <input type="number" name="toMonth" required value="<%=grad.toMonth%>">
                                                    <input type="number" name="toYear" required value="<%=grad.toYear%>">
                                                <% }%>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                    <button type="submit" class="btn btn-info">
                                            Submit
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-secondary">Dismiss</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="modal fade delete-grad-warning" id="gradDeleteModal-<%=grad._id%>" data-backdrop="static" >
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title">Withdraw this <i class="fas fa-school"></i>?</h2>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to quit this information? </p>
                        </div>
                        <div class="modal-footer">
                            <a href="/users/workgrad/delete-work-grad/?type=grad&id=<%=grad._id%>" class="delete-grad-button">
                                Delete
                            </a>
                            <a data-dismiss="modal" class="discard-button">Discard</a>
                        </div>
                    </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    <% } %>
    <% if(user.id!=profileUser.id && friended) {%>
      <div class="modal fade remove-friend-warning" id="removeFriendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="removeFriendModalLabel"><i class="fas fa-trash-alt"></i> Buddy?</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove <b><%= profileUser.name%></b> from your world? </p>
            </div>
            <div class="modal-footer">
                <a href="/users/destroy-friends/false/?to=<%= profileUser._id %>" class="btn btn-primary remove-friend-button">
                        Remove Friend
                </a>
                <button type="button" class="btn discard-friend" data-dismiss="modal">Discard</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if(user.id==profileUser.id) { %> 
        <div style="background: linear-gradient(to bottom,#4CB1C1,#E3C9A6);padding-top: 70px;min-height: 50vh;">
            <form id="new-post-form" method="post" action="/posts/create-post">
                <textarea name="content" id="new-post-content" required placeholder="Is something aching you?" onkeydown="autosize1(this)"></textarea>
                <button type="submit">Fly It!</button>
            </form>
            <br><br>
        
            <% if(posts.length!=0) { %>
                <h3 style="text-align: center;">The Amigo In You!</h3>
            <% } else { %>
                <h3 style="text-align: center;">You have yet to ascent!</h3>
            <% } %>
            <br>
            <div class="home-container">
                <section id="feed-posts">
                    <div id="posts-list-container">
                        <ul>
                            <% for(i of posts) { %>
                                <%- include('_post') -%>
                                            
                            <% } %>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
  
        <div class="modal fade" id="addWorkFormModal" data-backdrop="static" >
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #00BCD4;">
                <h2 class="modal-title">Add <i class="fas fa-briefcase"></i>?</h2>
                </div>
                <form action="/users/workgrad/add" method="POST">
                    <input type="hidden" name="type" value="work">
                    <div class="modal-body">
                        <div class="three-g">
                            <div>
                                <span>Title:<sup>*</sup></span>
                                <input type="text" name="title" required>
                            </div>
                            <div>
                                <span>Company:<sup>*</sup></span>
                                <input type="text" name="company" required>
                            </div>
                            <div>
                                <span>Description:</span>
                                <textarea name="descrpt" onkeydown="autosize1(this)"></textarea>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" name="check"><span>I am currently working in this role</span>
                            </div>
                        </div>
                        <div class="one-g">
                            <span>Date:<sup>*</sup></span>
                            <div>
                                <div class="from-date">
                                 <input type="number" name="fromMonth" required placeholder="01">
                                 <input type="number" name="fromYear" required placeholder="2020">
                                </div>
                                <div class="to-div">
                                 to  
                                </div> 
                                <div class="to-date">
                                    <input type="number" name="toMonth" required placeholder="01">
                                    <input type="number" name="toYear" required placeholder="2020">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">
                                Submit
                        </button>
                        <button data-dismiss="modal" class="btn btn-secondary">Dismiss</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="modal fade" id="addGradFormModal" data-backdrop="static" >
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #c31a87;">
                <h2 class="modal-title">Include this <i class="fas fa-user-graduate"></i>?</h2>
                </div>
                <form action="/users/workgrad/add" method="POST">
                    <input type="hidden" name="type" value="grad">
                    <div class="modal-body">
                        <div class="three-g">
                            <div>
                                <span>Degree:<sup>*</sup></span>
                                <input type="text" name="title" required>
                            </div>
                            <div>
                                <span>School/College:<sup>*</sup></span>
                                <input type="text" name="company" required>
                            </div>
                            <div>
                                <span>Description:</span>
                                <textarea name="descrpt" onkeydown="autosize1(this)"></textarea>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" name="check"><span>I am currently enrolled here</span>
                            </div>
                        </div>
                        <div class="one-g">
                            <span>Date:<sup>*</sup></span>
                            <div>
                                <div class="from-date">
                                 <input type="number" name="fromMonth" required placeholder="01">
                                 <input type="number" name="fromYear" required placeholder="2020">
                                </div>
                                <div class="to-div">
                                 to  
                                </div> 
                                <div class="to-date">
                                    <input type="number" name="toMonth" required placeholder="01">
                                    <input type="number" name="toYear" required placeholder="2020">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">
                                Submit
                        </button>
                        <button data-dismiss="modal" class="btn btn-secondary">Dismiss</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Your's <img src="/images/footprint.png"></h5>
                </div>
                <form action="/users/update-profile-info/<%= user._id%>" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="intro1">
                            <div class="intro-image">
                                <% if(user.avatar) {%>
                                    <img src="<%= user.avatar %>">
                                <% } else {%>
                                    <div class="concealed-image" style="background:<%=user.info.bgColor%>;"><span><%= user.name.split(" ")[0].charAt(0)%></span></div>
                                <% } %>
                            </div>
                            <div class="intro1-2">
                                <div>
                                    <span>Name:<sup>*</sup></span>
                                    <input type="text" required value="<%= profileUser.name %>" name="name">
                                </div>
                                <div>
                                    <span class="profile-img-span">Profile Picture:</span>
                                    <label for="file-upload" class="custom-file-upload" id="file-upload-label">
                                        <div>
                                            <i class="fas fa-upload"></i>&nbsp;Upload
                                        </div>
                                    </label>
                                    <input type="file" id="file-upload" name="avatar" placeholder="Profile Picture...">
                                </div>
                                <div>
                                    <span>About:<sup>*</sup></span>
                                    <textarea type="text" required onkeydown="autosize1(this)" name="about"><%=user.info.about%></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="change-email-remove-profile">
                            <% if(user.avatar) {%>
                                <a href="/users/remove-dp/?id=<%=user._id%>" class="remove-dp">Remove DP</a>
                            <% } %>
                            <a href="/users/change-email/?id=<%=user._id%>" class="change-email">Change email?</a>
                        </div>
                        <div class="personal-info">
                            <div class="heading">
                                Personal Information
                            </div>
                            <div class="info">
                                <div class="first-info">
                                    <div>
                                        <span>Current City:</span>
                                        <% if(user.info.personalInfo) {%>
                                            <input type="text" name="currentCity" value="<%=user.info.personalInfo.currentCity%>">
                                        <% } else {%>
                                            <input type="text" name="currentCity">
                                        <% } %>
                                    </div>
                                    <div>
                                        <span>Hometown:</span>
                                        <% if(user.info.personalInfo) {%>
                                            <input type="text" name="homeTown" value="<%= user.info.personalInfo.homeTown%>">
                                        <% } else {%>
                                            <input type="text" name="homeTown">
                                        <% } %>
                                    </div>
                                </div>
                                <div class="second-info">
                                    <span><i class="fas fa-birthday-cake"></i></span>
                                    <% if(user.info.personalInfo) {%>
                                        <input type="date" name="birthday" value="<%= user.info.personalInfo.bDay%>">
                                    <% } else {%>
                                        <input type="date" name="birthday">
                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="social-info">
                                <div class="heading">
                                    Social Media
                                </div>
                                <div class="info">
                                
                                        <div>
                                            <span><i class="fab fa-facebook" style="color: #3B5998;"></i></span>
                                            <% if(user.info.socialInfo) {%>
                                                <input type="url" name="fb" value="<%= user.info.socialInfo.fb%>">
                                            <% } else {%>
                                                <input type="url" name="fb">
                                            <% } %>
                                            
                                        </div>
                                        <div>
                                            <span><i class="fab fa-linkedin" style="color: #0077B5;"></i></span>
                                            <% if(user.info.socialInfo) {%>
                                                <input type="url" name="linkedin" value="<%= user.info.socialInfo.linkedin%>">
                                            <% } else {%>
                                                <input type="url" name="linkedin">
                                            <% } %>
                                            
                                        </div>
                                        <div>
                                            <span><i class="fab fa-quora" style="color: #B92B27;"></i></span>
                                            <% if(user.info.socialInfo) {%>
                                                <input type="url" name="quora" value="<%= user.info.socialInfo.quora%>">
                                            <% } else {%>
                                                <input type="url" name="quora">
                                            <% } %>
                                            
                                        </div>
                                        <div>
                                            <span><i class="fab fa-instagram" style="color: #BC32AA;"></i></span>
                                            <% if(user.info.socialInfo) {%>
                                                <input type="url" name="insta" value="<%= user.info.socialInfo.insta%>">
                                            <% } else {%>
                                                <input type="url" name="insta" >
                                            <% } %>
                                            
                                        </div>
                                        <div>
                                            <span><i class="fab fa-youtube" style="color:#FF0000"></i></span>
                                            <% if(user.info.socialInfo) {%>
                                                <input type="url" name="utube" value="<%= user.info.socialInfo.utube%>">
                                            <% } else {%>
                                                <input type="url" name="utube" >
                                            <% } %>
                                        </div>
                                        <div>
                                            <span><i class="fab fa-twitter-square" style="color: #1DA1F2;"></i></span>
                                            <% if(user.info.socialInfo) {%>
                                                <input type="url" name="twitter" value="<%= user.info.socialInfo.twitter%>">
                                            <% } else {%>
                                                <input type="url" name="twitter" >
                                            <% } %>
                                        </div>
                                </div>
                        </div>
                        
                        <div class="contact-info">
                            <div class="heading">
                                Contact Information
                            </div>
                            <div class="info">
                                <div class="first-info">
                                    <div>
                                        <span>Phone No:</span>
                                        <% if(user.info.contactInfo) {%>
                                            <input type="number" name="phone" value="<%= user.info.contactInfo.phone%>">
                                        <% } else {%>
                                            <input type="number" name="phone">
                                        <% } %>
                                        
                                    </div>
                                    <div>
                                        <span>Website:</span>
                                        <% if(user.info.contactInfo) {%>
                                            <input type="url" name="website" value="<%= user.info.contactInfo.website%>">
                                        <% } else {%>
                                            <input type="url" name="website">
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Submit</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Discard</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
    <% } else { %>
        <div style="background: linear-gradient(to bottom,#4CB1C1,#E3C9A6);padding-top: 70px;min-height: 50vh;">
            <% if(posts.length!=0) { %>
                <h3 style="text-align: center;">The Amigo In <%= profileUser.name%>!</h3>
            <% } else { %>
                <h3 style="text-align: center;">This amazing person has yet to ascent!</h3>
            <% } %>
                <br>
                <div class="home-container">
                    <section id="feed-posts">
                        <div id="posts-list-container">
                            <ul>
                                <% for(i of posts) { %>
                                    <%- include('_post') -%>
                                                
                                <% } %>
                            </ul>
                        </div>
                    </section>
                </div>

        </div>

    <% } %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/friends.js"></script>
    <script src="/js/user_profile.js"></script>



