<link rel="stylesheet" href="/css/userProfile.css">
<link rel="stylesheet"  href="/css/chat.css">

    <h1 class="heading-background">
        <div>
            <div class="cloud" id="first-cloud"></div>
            <div class="cloud" id="second-cloud"></div>
            <div class="cloud" id="third-cloud"></div>
        <% if(user.id==profileUser.id) {%>
            <span>Your's Azure!</span>     
        <% } else {%>
            <span><%= profileUser.name %>'s Azure!</span>
        <% } %>
            <div class="cloud" id="four-cloud"></div>
            <div class="cloud" id="five-cloud"></div>
            <div class="cloud" id="six-cloud"></div>
            <div class="cloud" id="seven-cloud"></div>
            <div class="cloud" id="eight-cloud"></div>
        </div>
    </h1>

    <% if(profileUser.avatar) {%>
        <img src="<%= profileUser.avatar %>" alt="<%= profileUser.name %>" width="100" height="100">
    <% } else if (profileUser.gender=="male"){%>
        <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
    <% }  else {%>
        <img src="/images/femaleProfile.png" width="100" height="100">
    <% } %>
    <% if(user.id==profileUser.id) { %> 
       
        <form action="/users/update/<%= profileUser.id %>" method="post" enctype="multipart/form-data">
            <input type="text" required placeholder="Your Name..." value="<%= profileUser.name %>" name="name">
            <input type="email" required placeholder="Your Email..." value="<%= profileUser.email %>" name="email">
            <input type="file" name="avatar" placeholder="Profile Picture...">
            <button type="submit">Update</button>
        </form>
        <br>
        <br><br>
        <form id="new-post-form" method="post" action="/posts/create-post">
            <textarea name="content" id="new-post-content" required cols="30" rows="3" placeholder="Type here..."></textarea>
            <br>
            <button type="submit">Post</button>
        </form>
        <br><br>
            <% if(posts.length!=0) { %>
                <h3 style="text-align: center;"> Your feeds</h3>
                <br>
                <div id="posts-list-container">
                    <ul>
                        <% for(i of posts) { %>
            
                            <%- include('_post') -%>
                                        
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <h3 style="text-align: center;">No posts published!</h3>
            <% } %>
        <% } else { %>

            <p><%= profileUser.name %></p>
            <p><%= profileUser.email %></p>
            <p><form action="/users/friends/?from=<%=user._id%>&to=<%=profileUser._id%>" class="add-friend-button" method="post">
                <button type="submit">Add /Remove Friend</button>
            </form></p>
            <p><a href="#user-chat-box">Chat with <%= profileUser.name  %></a></p>
            <br>
            <br>
            <% if(posts.length!=0) { %>
                <h3 style="text-align: center;"><%= profileUser.name%>'s Posts</h3>
                <br>
                <div id="posts-list-container">
                    <ul>
                        <% for(i of posts) { %>
            
                            <%- include('_post') -%>
                                        
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <h3 style="text-align: center;">No posts published!</h3>
            <% } %>
            <%- include("_chat"); %>
    <% } %>
    <br>
    <br>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    
    <script>
        new ChatEngine('user-chat-box','<%= locals.user.email %>');
    </script>


