<link rel="stylesheet" href="/css/userProfile.css">
<link rel="stylesheet"  href="/css/chat.css">

    <h1 class="heading-background">
        <div>
            <div class="cloud" id="first-cloud"></div>
            <div class="cloud" id="second-cloud"></div>
            <div class="cloud" id="third-cloud"></div>
        <% if(user.id==profileUser.id) {%>
            <span>Your's Azure!</span>     
        <% } else {%>
            <span><%= profileUser.name %>'s Azure!</span>
        <% } %>
            <div class="cloud" id="four-cloud"></div>
            <div class="cloud" id="five-cloud"></div>
            <div class="cloud" id="six-cloud"></div>
            <div class="cloud" id="seven-cloud"></div>
            <div class="cloud" id="eight-cloud"></div>
        </div>
    </h1>

    <div class="profile-intro">
      <div class="first">
        <div class="accordion" id="accordionExample">
          <div class="card">
              <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                      <button type="button" class="collapsed" data-toggle="collapse" data-target="#collapseOne"><i class="far fa-handshake"></i> Amities</button>									
                  </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                      <% if(friends.length>0) {%>
                            <% if(mutualfriends.length>0) {%>
                                <p  data-toggle="modal" data-target="#mutualfriendModal" style="cursor: pointer;">
                                    <%= mutualfriends.length%> 
                                    <% if(mutualfriends.length==1) {%>
                                        Mutual Connection
                                    <%} else {%>
                                        Mutual Connections
                                    <% } %> 
                                </p>
                            <% } %>
                            <p  data-toggle="modal" data-target="#friendModal" style="cursor: pointer;" class="normal-connections">
                                <%= friends.length%>
                                <% if(friends.length==1) {%>
                                    Connection 
                                <%} else {%>
                                    Connections
                                <% } %> 
                            </p>
                      <% } else {%>
                            <% if(user.id!=profileUser.id) {%>
                                <div>Well, Looks like you have to make the first move xD!</div>
                            <% } else { %>
                                <div>
                                    Are you ready for it?
                                </div>
                            <% } %>
                      <% } %>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                      <button type="button" class="collapsed"  data-toggle="collapse" data-target="#collapseTwo"><i class="fas fa-briefcase"></i> Experience</button>
                  </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <% if(works.length!=0) {%>
                        <p data-toggle="modal" data-target="#viewWorkModal" style="cursor: pointer;">
                            Workalholicness
                        </p>
                    <% }else if(profileUser.id!=user.id){%>
                        <p><%= profileUser.name.split(" ")[0]%> is employed at "None of your business" Co.</p>
                    <% }%>
                    <% if(profileUser.id==user.id) {%>
                        <p data-toggle="modal" data-target="#addWorkFormModal" style="cursor: pointer;">Want to brag about it?</p>
                    <% } %>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                      <button type="button" class="collapsed" data-toggle="collapse" data-target="#collapseThree">
                        <i class="fas fa-graduation-cap"></i> Graduation
                      </button>                     
                  </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <% if(grads.length!=0) {%>
                        <p data-toggle="modal" data-target="#viewGradModal" style="cursor: pointer;">
                            Gradenation
                        </p>
                    <% }else if(profileUser.id!=user.id){%>
                        <p><%= profileUser.name.split(" ")[0]%> has graduated from "Not Concerning You" School.</p>
                    <% }%>
                    <% if(profileUser.id==user.id) {%>
                        <p data-toggle="modal" data-target="#addGradFormModal" style="cursor: pointer;">Wanna take this to academic mode?</p>
                    <% } %>
                  </div>
              </div>
          </div>
      </div>
   
      </div>

      <div class="middle">
        <% if(profileUser.avatar) {%>
            <img src="<%= profileUser.avatar %>" alt="<%= profileUser.name %>" width="100" height="100">
        <% }  else {%>
            <div class="concealed-image" style="background:<%=profileUser.info.bgColor%>;"><span><%= profileUser.name.split(" ")[0].charAt(0)%></span></div>
        <% } %>
        <p class="profile-name"><%= profileUser.name %></p>
        <p class="profile-about">
            <span class="about-tag">About-</span>
            <% if(profileUser.info ) {%>
                <q><%= profileUser.info.about%></q>
            <% } %>
        </p>
        <% if(profileUser.id==user.id) {%>
            <span class="editprofile-tag">Edit Profile</span>
        <% } else {%>   
            <div class="add-chat-friend-group">
                <% if(!friended) {%>
                    <% if(!pendingFrom && !pendingTo) {%>
                        <a href="/users/friends-pending-form/?from=<%=user._id%>&to=<%=profileUser._id%>" class="add-friend-button">
                                Add Friend
                        </a>
                    <% } else if(pendingFrom) {%>
                        <span class="pending-from">Friend Request Pending</span>
                        <a href="/users/friends-cancel-form/?from=<%=user._id%>&to=<%=profileUser._id%>" class="cancel-friend-button">
                            Want to cancel it?
                        </a>
                    <% } else { %>
                        <span class="pending-form-present">Want to accept this friend request?</span>
                        <div class="pending-form-options">
                            <a href="/users/make-friends/?to=<%=user._id%>&from=<%=profileUser._id%>" class="confirm-friend-button">Confirm</a>
                            <a href="/users/friends-cancel-form/?to=<%=user._id%>&from=<%=profileUser._id%>" class="no-friend-button">Not Yet</a>
                        </div>
                    <% } %>
                <% } else {%>
                   
                    <div data-toggle="modal" data-target="#removeFriendModal" class="remove-friend-button-1">
                        Remove Friend
                    </div>
                 
                <% } %>
                
                <a href="#user-chat-box" class="chat-button">Chat with <%= profileUser.name  %></a>
            </div>
       
        <% } %>
      </div>
    

      <div class="third"></div>
    </div>
    <% if(friends.length>0) {%>
        <div class="modal fade" id="friendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">
                    <%= friends.length%>
                    <% if(friends.length==1) {%>
                        Connection 
                    <%} else {%>
                        Connections
                    <% } %> 
                </h2>
                </div>
                <div class="modal-body">
                        <ul>
                            <% for(friend of friends) {%>
                                <li id="user-<%= friend._id%>" class="friend-list">
                                    <%- include("_friendDisplay"); %>
                                </li>
                                
                            <% } %>
                        </ul>
                </div>
                
            </div>
            </div>
        </div>
        <% if(user.id==profileUser.id) { %>
            <% for (friend of friends) {%>
                <div class="modal fade delete-friend-warning" id="deleteFriendModal-<%= friend._id %>" data-backdrop="static" >
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title"><i class="fas fa-trash-alt"></i> Buddy?</h2>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to remove <b><%= friend.name%></b> from your sky? </p>
                        </div>
                        <div class="modal-footer">
                            <a href="/users/destroy-friends/true/?from=<%=user._id%>&to=<%=friend._id%>" class="remove-friend-button">
                                <i class="fas fa-handshake-slash"></i>
                        </a>
                        <a data-dismiss="modal" class="discard-friend">Discard</a>
                        </div>
                    </div>
                    </div>
                </div>
            <% } %>
            <div class="modal fade" id="addWorkFormModal" data-backdrop="static" >
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background: #00BCD4;">
                    <h2 class="modal-title">Add <i class="fas fa-briefcase"></i>?</h2>
                    </div>
                    <form action="/users/workgrad/add" method="POST">
                        <input type="hidden" name="type" value="work">
                        <div class="modal-body">
                            <div class="three-g">
                                <div>
                                    <span>Title:</span>
                                    <input type="text" name="title" required>
                                </div>
                                <div>
                                    <span>Company:</span>
                                    <input type="text" name="company" required>
                                </div>
                                <div>
                                    <span>Description:</span>
                                    <textarea name="descrpt" onkeydown="autosize1(this)"></textarea>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" name="check"><span>I am currently working in this role</span>
                                </div>
                            </div>
                            <div class="one-g">
                                <span>Date:</span>
                                <div>
                                    <div class="from-date">
                                     <input type="number" name="fromMonth" required placeholder="01">
                                     <input type="number" name="fromYear" required placeholder="2020">
                                    </div>
                                    <div class="to-div">
                                     to  
                                    </div> 
                                    <div class="to-date">
                                        <input type="number" name="toMonth" required placeholder="01">
                                        <input type="number" name="toYear" required placeholder="2020">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">
                                    Submit
                            </button>
                            <button data-dismiss="modal" class="btn btn-secondary">Dismiss</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="modal fade" id="addGradFormModal" data-backdrop="static" >
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background: #c31a87;">
                    <h2 class="modal-title">Include this <i class="fas fa-user-graduate"></i>?</h2>
                    </div>
                    <form action="/users/workgrad/add" method="POST">
                        <input type="hidden" name="type" value="grad">
                        <div class="modal-body">
                            <div class="three-g">
                                <div>
                                    <span>Percentage/Grade:</span>
                                    <input type="text" name="title" required>
                                </div>
                                <div>
                                    <span>School/College:</span>
                                    <input type="text" name="company" required>
                                </div>
                                <div>
                                    <span>Description:</span>
                                    <textarea name="descrpt" onkeydown="autosize1(this)"></textarea>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" name="check"><span>I am currently enrolled here</span>
                                </div>
                            </div>
                            <div class="one-g">
                                <span>Date:</span>
                                <div>
                                    <div class="from-date">
                                     <input type="number" name="fromMonth" required placeholder="01">
                                     <input type="number" name="fromYear" required placeholder="2020">
                                    </div>
                                    <div class="to-div">
                                     to  
                                    </div> 
                                    <div class="to-date">
                                        <input type="number" name="toMonth" required placeholder="01">
                                        <input type="number" name="toYear" required placeholder="2020">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">
                                    Submit
                            </button>
                            <button data-dismiss="modal" class="btn btn-secondary">Dismiss</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        <% } else {%>
            <div class="modal fade" id="mutualfriendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">
                        <%= mutualfriends.length%>
                        <% if(mutualfriends.length==1) {%>
                            Mutual Connection 
                        <%} else {%>
                            Mutual 
                            Connections
                        <% } %> 
                    </h2>
                    </div>
                    <div class="modal-body">
                            <ul>
                                <% for(friend of mutualfriends) {%>
                                    <li id="user-<%=friend._id%>" class="friend-list">
                                        <%- include("_friendDisplay"); %>
                                    </li>
                                    
                                <% } %>
                            </ul>
                    </div>
                    
                </div>
                </div>
            </div>
        <% } %>
      
    <% } %>
    <% if(works.length!=0) {%>
        <div class="modal fade" id="viewWorkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #D84315;">
                <h2 class="modal-title" id="exampleModalLabel">
                    Workalholicness
                </h2>
                </div>
                <div class="modal-body">
                        <ul>
                            <% for(work of works) {%>
                                <li id="work-<%=work._id%>" class="work-list">
                                    <%- include("_workDisplay") %>
                                </li>
                                
                            <% } %>
                        </ul>
                </div>
                
            </div>
            </div>
        </div>
        <% if(profileUser.id==user.id) {%>
            <% for(work of works) {%>
                <div class="modal fade update-work-modal" id="workUpdateModal-<%=work._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Wanna Update this?</h5>
                        </div>
                        <form action="/users/workgrad/update-work-grad" method="post">
                            <div class="modal-body">
                                    <input type="hidden" name="id" value="<%= work._id %>">
                                    <input type="hidden" name="type" value="work">
                                    <div class="three-g">
                                        <div>
                                            <span>Title:</span>
                                            <input type="text" name="title" value="<%=work.title %>" required>
                                        </div>
                                        <div>
                                            <span>Company:</span>
                                            <input type="text" name="company" required value="<%=work.company%>">
                                        </div>
                                        <div>
                                            <span>Description:</span>
                                            <textarea name="descrpt" onkeydown="autosize1(this)"><%= work.descrpt %></textarea>
                                        </div>
                                        <div class="checkbox">
                                            <% if(work.check) {%>
                                                <input type="checkbox" name="check" checked>
                                            <% } else {%>
                                                <input type="checkbox" name="check">
                                            <% } %>
                                            <span>I am currently working in this role</span>
                                        </div>
                                    </div>
                                    <div class="one-g">
                                        <span>Date:</span>
                                        <div>
                                            <div class="from-date">
                                            <input type="number" name="fromMonth" required value="<%=work.fromMonth%>">
                                            <input type="number" name="fromYear" required value="<%=work.fromYear%>">
                                            </div>
                                            <div class="to-div">
                                            to  
                                            </div> 
                                            <div class="to-date">
                                                <% if(work.check) {%>
                                                    Present
                                                <%} else {%>
                                                    <input type="number" name="toMonth" required value="<%=work.toMonth%>">
                                                    <input type="number" name="toYear" required value="<%=work.toYear%>">
                                                <% }%>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                    <button type="submit" class="btn btn-info">
                                            Submit
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-secondary">Dismiss</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="modal fade delete-work-warning" id="workDeleteModal-<%=work._id%>" data-backdrop="static" >
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title">Withdraw this <i class="fas fa-mail-bulk"></i>?</h2>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to quit this information? </p>
                        </div>
                        <div class="modal-footer">
                            <a href="/users/workgrad/delete-work-grad/?type=work&id=<%=work._id%>" class="delete-work-button">
                                Delete
                            </a>
                            <a data-dismiss="modal" class="discard-button">Discard</a>
                        </div>
                    </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    <% } %>
    <% if(grads.length!=0) {%>
        <div class="modal fade" id="viewGradModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #8e144c;">
                <h2 class="modal-title" id="exampleModalLabel">
                    Gradenation
                </h2>
                </div>
                <div class="modal-body">
                        <ul>
                            <% for(grad of grads) {%>
                                <li id="grad-<%=grad._id%>" class="grad-list">
                                    <%- include("_gradDisplay") %>
                                </li>
                                
                            <% } %>
                        </ul>
                </div>
                
            </div>
            </div>
        </div>
        <% if(profileUser.id==user.id) {%>
            <% for(grad of grads) {%>
                <div class="modal fade update-grad-modal" id="gradUpdateModal-<%=grad._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Improvise this?</h5>
                        </div>
                        <form action="/users/workgrad/update-work-grad" method="post">
                            <div class="modal-body">
                                    <input type="hidden" name="id" value="<%= grad._id %>">
                                    <input type="hidden" name="type" value="grad">
                                    <div class="three-g">
                                        <div>
                                            <span>Percentage/Grade:</span>
                                            <input type="text" name="title" value="<%=grad.grade %>" required>
                                        </div>
                                        <div>
                                            <span>School/College:</span>
                                            <input type="text" name="company" required value="<%=grad.school%>">
                                        </div>
                                        <div>
                                            <span>Description:</span>
                                            <textarea name="descrpt" onkeydown="autosize1(this)"><%= grad.descrpt %></textarea>
                                        </div>
                                        <div class="checkbox">
                                            <% if(grad.check) {%>
                                                <input type="checkbox" name="check" checked>
                                            <% } else {%>
                                                <input type="checkbox" name="check">
                                            <% } %>
                                            <span>I am currently enrolled here</span>
                                        </div>
                                    </div>
                                    <div class="one-g">
                                        <span>Date:</span>
                                        <div>
                                            <div class="from-date">
                                            <input type="number" name="fromMonth" required value="<%=grad.fromMonth%>">
                                            <input type="number" name="fromYear" required value="<%=grad.fromYear%>">
                                            </div>
                                            <div class="to-div">
                                            to  
                                            </div> 
                                            <div class="to-date">
                                                <% if(grad.check) {%>
                                                    Present
                                                <%} else {%>
                                                    <input type="number" name="toMonth" required value="<%=grad.toMonth%>">
                                                    <input type="number" name="toYear" required value="<%=grad.toYear%>">
                                                <% }%>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                    <button type="submit" class="btn btn-info">
                                            Submit
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-secondary">Dismiss</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="modal fade delete-grad-warning" id="gradDeleteModal-<%=grad._id%>" data-backdrop="static" >
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title">Withdraw this <i class="fas fa-school"></i>?</h2>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to quit this information? </p>
                        </div>
                        <div class="modal-footer">
                            <a href="/users/workgrad/delete-work-grad/?type=grad&id=<%=grad._id%>" class="delete-grad-button">
                                Delete
                            </a>
                            <a data-dismiss="modal" class="discard-button">Discard</a>
                        </div>
                    </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    <% } %>
    <% if(user.id!=profileUser.id && friended) {%>
      <div class="modal fade remove-friend-warning" id="removeFriendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="removeFriendModalLabel"><i class="fas fa-trash-alt"></i> Buddy?</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove <b><%= profileUser.name%></b> from your sky? </p>
            </div>
            <div class="modal-footer">
                <a href="/users/destroy-friends/false/?from=<%= user._id %>&to=<%= profileUser._id %>" class="btn btn-primary remove-friend-button">
                        Remove Friend
                </a>
                <button type="button" class="btn discard-friend" data-dismiss="modal">Discard</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if(user.id==profileUser.id) { %> 
       
        <!-- <form action="/users/update/<%= profileUser.id %>" method="post" enctype="multipart/form-data">
            <input type="text" required placeholder="Your Name..." value="<%= profileUser.name %>" name="name">
            <input type="email" required placeholder="Your Email..." value="<%= profileUser.email %>" name="email">
            <input type="file" name="avatar" placeholder="Profile Picture...">
            <button type="submit">Update</button>
        </form> -->
        <br>
        <br><br>
        <form id="new-post-form" method="post" action="/posts/create-post">
            <textarea name="content" id="new-post-content" required cols="30" rows="3" placeholder="Type here..."></textarea>
            <br>
            <button type="submit">Post</button>
        </form>
        <br><br>
    
        <% if(posts.length!=0) { %>
            <div class="home-container">
                <section id="feed-posts">
                    <h3 style="text-align: center;">The Sky In You!</h3>
                    <br>
                    <div id="posts-list-container">
                        <ul>
                            <% for(i of posts) { %>
                                <%- include('_post') -%>
                                            
                            <% } %>
                        </ul>
                    </div>
                </section>
            </div>
        <% } else { %>
            <h3 style="text-align: center;">You have yet to ascent!</h3>
        <% } %>
            
    <% } else { %>

          
                        <br>
            <br>
        
            <% if(posts.length!=0) { %>
                <h3 style="text-align: center;">The Sky In <%= profileUser.name%>!</h3>
                <br>
                <div id="posts-list-container">
                    <ul>
                        <% for(i of posts) { %>
                            <%- include('_post') -%>
                                        
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <h3 style="text-align: center;">This amazing person has yet to ascent!</h3>
            <% } %>

            <%- include("_chat"); %>
    <% } %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/friends.js"></script>
    <script src="/js/user_profile.js"></script>
    <script>
        new ChatEngine('user-chat-box','<%= locals.user.email %>');
    </script>


