<link rel="stylesheet" href="/css/userProfile.css">
<link rel="stylesheet"  href="/css/chat.css">

    <h1>
        Codeial/User Profile
    </h1>

    <img src="<%= profileUser.avatar %>" alt="<%= profileUser.name %>" width="100">
 
    <% if(user.id==profileUser.id) { %> 
       
        <form action="/users/update/<%= profileUser.id %>" method="post" enctype="multipart/form-data">
            <input type="text" required placeholder="Your Name..." value="<%= profileUser.name %>" name="name">
            <input type="email" required placeholder="Your Email..." value="<%= profileUser.email %>" name="email">
            <input type="file" name="avatar" placeholder="Profile Picture...">
            <button type="submit">Update</button>
        </form>
    <% } else { %>
        
       
        <p><%= profileUser.name %></p>
        <p><%= profileUser.email %></p>
        <p><form action="/users/friends/?from=<%=user._id%>&to=<%=profileUser._id%>" class="add-friend-button" method="post">
            <button type="submit">Add /Remove Friend</button>
        </form></p>
        <p><a href="#user-chat-box">Chat with <%= profileUser.name  %></a></p>
        <%- include("_chat"); %>
    <% } %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/chat_engine.js"></script>
    
    <script>
        new ChatEngine('user-chat-box','<%= locals.user.email %>');
    </script>


